In [1]:
cd

/home/ubuntu

In [2]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [3]:
temp = ConnectDatabase()

In [6]:
doc['table_map']

{'CUSTOMER_CONTACT': 'contact',
 'CUSTOMER_MASTER': 'users',
 'CUSTOMER_SECONDARY': 'temp_customer_secondary',
 'EVENT_LOG': 'event',
 'EVENT_MASTER': 'event_master',
 'TRANSACTION_MASTER': 'trans'}

In [8]:
doc['column_map']

{'CUSTOMER_CONTACT': {'cust_id': 'id',
  'email_id': 'email',
  'facebook_id': 'facebook_id',
  'firstname': 'first_name',
  'lastname': 'last_name',
  'phone_number': 'phone'},
 'CUSTOMER_MASTER': {'birthday': 'birthday',
  'create_date': 'create_date',
  'cust_id': 'id'},
 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'},
 'EVENT_LOG': {'action_type': 'actiontype',
  'cust_id': 'from_id',
  'product_id': 'to_id',
  'timestamp': 'timestamp'},
 'EVENT_MASTER': {'action_category_id': None,
  'action_category_name': None,
  'action_name': 'action_desc',
  'action_type': 'actiontype'},
 'TRANSACTION_MASTER': {'cust_id': 'userid',
  'product_id': 'product_id',
  'quantity': 'quantity',
  'renewal': 'renewal',
  'revenue': 'revenue',
  'timestamp': 'purchase_date'}}

In [5]:
query = 'SELECT * FROM %s'%(doc['table_map']['EVENT_LOG'])

In [9]:
print query

SELECT * FROM event

In [10]:
temp.conn

In [11]:
temp.cur.execute(query)

In [12]:
col_names = [desc[0] for desc in temp.cur.description]

In [13]:
col_names

['to_id', 'timestamp', 'actiontype', 'from_id']

In [14]:
import pandas as pd

In [15]:
event_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [16]:
event_table.head()

    to_id                 timestamp  actiontype  from_id
0  255074 2016-11-19 00:52:13+00:00           1  6148771
1  304603 2016-11-20 08:03:32+00:00           1  6148771
2  368895 2016-11-15 09:28:35+00:00           1  6148771
3  376784 2016-11-15 09:43:29+00:00           1  6148771
4  462976 2016-11-15 09:44:27+00:00           1  6148771

In [17]:
event_table.rename(columns={doc['column_map']['EVENT_LOG']['cust_id']:'cust_id'}, inplace=True)
event_table.rename(columns={doc['column_map']['EVENT_LOG']['product_id']:'product_id'}, inplace=True)
event_table.rename(columns={doc['column_map']['EVENT_LOG']['action_type']:'action_type'}, inplace=True)

In [18]:
event_table.head()

   product_id                 timestamp  action_type  cust_id
0      255074 2016-11-19 00:52:13+00:00            1  6148771
1      304603 2016-11-20 08:03:32+00:00            1  6148771
2      368895 2016-11-15 09:28:35+00:00            1  6148771
3      376784 2016-11-15 09:43:29+00:00            1  6148771
4      462976 2016-11-15 09:44:27+00:00            1  6148771

In [19]:
event_df = event_table[['cust_id', 'product_id', 'action_type']]

In [20]:
event_df.head()

   cust_id  product_id  action_type
0  6148771      255074            1
1  6148771      304603            1
2  6148771      368895            1
3  6148771      376784            1
4  6148771      462976            1

In [21]:
len(event_df.cust_id.unique())

6256

In [22]:
len(event_df.product_id.unique())

386251

In [23]:
event_df.action_type.replace([3],[-1], inplace=True)

/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:3430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [24]:
grp_cust = event_df.groupby('cust_id').count()

In [25]:
grp_cust.head()

         product_id  action_type
cust_id
3289765         683          683
6148771         488          488
6148821        7077         7077
6148833           1            1
6149073         287          287

In [26]:
del grp_cust['action_type']

In [27]:
grp_cust.head()

         product_id
cust_id
3289765         683
6148771         488
6148821        7077
6148833           1
6149073         287

In [28]:
grp_cust= grp_cust.reset_index()

In [29]:
grp_cust.rename(columns = {'product_id':'value'}, inplace=True)

In [30]:
grp_cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
3  6148833      1
4  6149073    287

In [31]:
grp_cust_cou = grp_cust.groupby(['value']).count()

In [32]:
grp_cust_cou.head()

       cust_id
value
1           30
2           21
3           20
4           23
5           29

In [33]:
grp_cust_cou = grp_cust_cou.reset_index()

In [34]:
grp_cust_cou.rename(columns = {'value':'no_of_products'}, inplace=True)
grp_cust_cou.rename(columns = {'cust_id':'users_count'}, inplace=True)

In [35]:
grp_cust_cou.head()

   no_of_products  users_count
0               1           30
1               2           21
2               3           20
3               4           23
4               5           29

In [36]:
grp_cust_cou.tail()

      no_of_products  users_count
2270           41237            1
2271           43194            1
2272           43951            1
2273           50468            1
2274           50989            1

In [37]:
grp_cust_cou = grp_cust_cou.sort_index(ascending = False)

In [38]:
grp_cust_cou.head()

      no_of_products  users_count
2274           50989            1
2273           50468            1
2272           43951            1
2271           43194            1
2270           41237            1

In [39]:
grp_cust_cou.tail()

   no_of_products  users_count
4               5           29
3               4           23
2               3           20
1               2           21
0               1           30

In [40]:
grp_cust_cou['users_per'] = grp_cust_cou['users_count']/grp_cust_cou['users_count'].sum() * 100

In [41]:
grp_cust_cou['aggregated_per'] = grp_cust_cou.users_per.cumsum()

In [42]:
grp_cust_cou.head()

      no_of_products  users_count  users_per  aggregated_per
2274           50989            1   0.015985        0.015985
2273           50468            1   0.015985        0.031969
2272           43951            1   0.015985        0.047954
2271           43194            1   0.015985        0.063939
2270           41237            1   0.015985        0.079923

In [43]:
grp_cust_cou.tail()

   no_of_products  users_count  users_per  aggregated_per
4               5           29   0.463555       98.497442
3               4           23   0.367647       98.865090
2               3           20   0.319693       99.184783
1               2           21   0.335678       99.520460
0               1           30   0.479540      100.000000

In [44]:
cust_df = grp_cust_cou

In [45]:
cust_df = cust_df.reset_index(drop=True)

In [46]:
cust_df.head()

   no_of_products  users_count  users_per  aggregated_per
0           50989            1   0.015985        0.015985
1           50468            1   0.015985        0.031969
2           43951            1   0.015985        0.047954
3           43194            1   0.015985        0.063939
4           41237            1   0.015985        0.079923

In [47]:
cust_df.tail()

      no_of_products  users_count  users_per  aggregated_per
2270               5           29   0.463555       98.497442
2271               4           23   0.367647       98.865090
2272               3           20   0.319693       99.184783
2273               2           21   0.335678       99.520460
2274               1           30   0.479540      100.000000

In [48]:
threshold_df_cust = cust_df.loc[cust_df['aggregated_per'] > 85]

In [49]:
threshold_df_cust

      no_of_products  users_count  users_per  aggregated_per
2232              43           16   0.255754       85.150256
2233              42           25   0.399616       85.549872
2234              41           16   0.255754       85.805627
2235              40           13   0.207801       86.013427
2236              39            8   0.127877       86.141304
2237              38           24   0.383632       86.524936
2238              37           14   0.223785       86.748721
2239              36            9   0.143862       86.892583
2240              35           20   0.319693       87.212276
2241              34           29   0.463555       87.675831
2242              33           18   0.287724       87.963555
2243              32           18   0.287724       88.251279
2244              31           23   0.367647       88.618926
2245              30           21   0.335678       88.954604
2246              29           45   0.719309       89.673913
2247              28           28   0.447570       90.121483
2248              27           20   0.319693       90.441176
2249              26           21   0.335678       90.776854
2250              25           18   0.287724       91.064578
2251              24           19   0.303708       91.368286
2252              23           19   0.303708       91.671995
2253              22           22   0.351662       92.023657
2254              21           21   0.335678       92.359335
2255              20           14   0.223785       92.583120
2256              19           23   0.367647       92.950767
2257              18           20   0.319693       93.270460
2258              17           19   0.303708       93.574169
2259              16           30   0.479540       94.053708
2260              15           28   0.447570       94.501279
2261              14           15   0.239770       94.741049
2262              13           24   0.383632       95.124680
2263              12           15   0.239770       95.364450
2264              11           21   0.335678       95.700128
2265              10           46   0.735294       96.435422
2266               9           21   0.335678       96.771100
2267               8           19   0.303708       97.074808
2268               7           29   0.463555       97.538363
2269               6           31   0.495524       98.033887
2270               5           29   0.463555       98.497442
2271               4           23   0.367647       98.865090
2272               3           20   0.319693       99.184783
2273               2           21   0.335678       99.520460
2274               1           30   0.479540      100.000000

In [50]:
threshold_value_cust = threshold_df_cust.no_of_products.loc[threshold_df_cust['aggregated_per'] > 90]

In [51]:
threshold_value_cust

2247    28
2248    27
2249    26
2250    25
2251    24
2252    23
2253    22
2254    21
2255    20
2256    19
2257    18
2258    17
2259    16
2260    15
2261    14
2262    13
2263    12
2264    11
2265    10
2266     9
2267     8
2268     7
2269     6
2270     5
2271     4
2272     3
2273     2
2274     1
Name: no_of_products, dtype: int64

In [52]:
threshold_value_cust = threshold_value_cust.reset_index(drop=True)

In [53]:
threshold_value_cust

0     28
1     27
2     26
3     25
4     24
5     23
6     22
7     21
8     20
9     19
10    18
11    17
12    16
13    15
14    14
15    13
16    12
17    11
18    10
19     9
20     8
21     7
22     6
23     5
24     4
25     3
26     2
27     1
Name: no_of_products, dtype: int64

In [54]:
threshold_value_cust[0]

28

In [55]:
cust = grp_cust.loc[grp_cust['value'] > threshold_value_cust[0]]

In [56]:
cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
4  6149073    287
6  6149179    539

In [57]:
cust = cust.reset_index(drop=True)

In [58]:
cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
3  6149073    287
4  6149179    539

In [59]:
del cust['value']

In [60]:
cust.head()

   cust_id
0  3289765
1  6148771
2  6148821
3  6149073
4  6149179

In [61]:
cust.shape

(5610, 1)

In [62]:
grp_prod = event_df.groupby(['product_id']).count()

In [63]:
grp_prod.head()

            cust_id  action_type
product_id
1071              1            1
1153              2            2
9516              2            2
9700              2            2
9782              1            1

In [64]:
del grp_prod['action_type']

In [65]:
grp_prod.head()

            cust_id
product_id
1071              1
1153              2
9516              2
9700              2
9782              1

In [66]:
grp_prod = grp_prod.reset_index()

In [67]:
grp_prod.head()

   product_id  cust_id
0        1071        1
1        1153        2
2        9516        2
3        9700        2
4        9782        1

In [68]:
grp_prod.rename(columns={'cust_id':'value'}, inplace=True)

In [69]:
grp_prod.head()

   product_id  value
0        1071      1
1        1153      2
2        9516      2
3        9700      2
4        9782      1

In [70]:
grp_prod_cou = grp_prod.groupby(['value']).count()

In [71]:
grp_prod_cou.head()

       product_id
value
1          120224
2           53167
3           31734
4           21858
5           16395

In [72]:
grp_prod_cou = grp_prod_cou.reset_index()

In [73]:
grp_prod_cou.rename(columns = {'value':'no_of_users'}, inplace=True)
grp_prod_cou.rename(columns = {'product_id':'product_count'}, inplace=True)

In [74]:
grp_prod_cou.head()

   no_of_users  product_count
0            1         120224
1            2          53167
2            3          31734
3            4          21858
4            5          16395

In [75]:
grp_prod_cou.tail()

      no_of_users  product_count
1115         1595              1
1116         1603              2
1117         1636              1
1118         1694              1
1119         1770              1

In [76]:
grp_prod_cou = grp_prod_cou.sort_index(ascending = False)

In [77]:
grp_prod_cou['product_per'] = grp_prod_cou['product_count']/grp_prod_cou['product_count'].sum() * 100

In [78]:
grp_prod_cou['aggregated_per'] = grp_prod_cou.product_per.cumsum()

In [79]:
grp_prod_cou.head()

      no_of_users  product_count  product_per  aggregated_per
1119         1770              1     0.000259        0.000259
1118         1694              1     0.000259        0.000518
1117         1636              1     0.000259        0.000777
1116         1603              2     0.000518        0.001294
1115         1595              1     0.000259        0.001553

In [80]:
prod_df = grp_prod_cou

In [81]:
prod_df.tail()

   no_of_users  product_count  product_per  aggregated_per
4            5          16395     4.244649       41.234327
3            4          21858     5.659014       46.893341
2            3          31734     8.215901       55.109242
1            2          53167    13.764883       68.874126
0            1         120224    31.125874      100.000000

In [82]:
prod_df = prod_df.reset_index(drop=True)

In [83]:
prod_df.head()

   no_of_users  product_count  product_per  aggregated_per
0         1770              1     0.000259        0.000259
1         1694              1     0.000259        0.000518
2         1636              1     0.000259        0.000777
3         1603              2     0.000518        0.001294
4         1595              1     0.000259        0.001553

In [84]:
prod_df.tail()

      no_of_users  product_count  product_per  aggregated_per
1115            5          16395     4.244649       41.234327
1116            4          21858     5.659014       46.893341
1117            3          31734     8.215901       55.109242
1118            2          53167    13.764883       68.874126
1119            1         120224    31.125874      100.000000

In [85]:
threshold_df_prod = prod_df.loc[prod_df['aggregated_per'] > 85]

In [86]:
threshold_df_prod

      no_of_users  product_count  product_per  aggregated_per
1119            1         120224    31.125874           100.0

In [87]:
threshold_value_prod = threshold_df_prod.no_of_users.loc[threshold_df_prod['aggregated_per'] > 90]

In [88]:
threshold_value_prod

1119    1
Name: no_of_users, dtype: int64

In [89]:
threshold_value_prod = threshold_value_prod.reset_index(drop=True)

In [90]:
threshold_value_prod

0    1
Name: no_of_users, dtype: int64

In [91]:
prod = grp_prod.loc[grp_prod['value'] > threshold_value_prod[0]]

In [92]:
prod.head()

   product_id  value
1        1153      2
2        9516      2
3        9700      2
5        9787      2
8        9880      2

In [93]:
prod = prod.reset_index(drop=True)

In [94]:
del prod['value']

In [95]:
prod.head()

   product_id
0        1153
1        9516
2        9700
3        9787
4        9880

In [96]:
final_data = event_df.merge(cust,on='cust_id').merge(prod,on='product_id')

In [97]:
final_data.shape

(7034069, 3)

In [98]:
event_df.shape

(7163170, 3)

In [99]:
final_data.head()

   cust_id  product_id  action_type
0  6148771      255074            1
1  6148821      255074           -1
2  6151715      255074            1
3  6151907      255074            1
4  6153899      255074           -1

In [ ]:
dir()

In [ ]:
del [cust, cust_df, event, event_df, event_table, grp_cust, grp_cust_cou, grp_prod, grp_prod_cou, prod, 
     prod_df]

In [ ]:
import findspark

In [ ]:
findspark.init()

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext,Row
from pyspark.mllib.recommendation import ALS

In [ ]:
sc = SparkContext(appName = "Event_final_recommendation")

In [ ]:
sqlContext = SQLContext(sc)

In [ ]:
n_prod_views_rdd = sqlContext.createDataFrame(final_data).rdd

In [ ]:
n_prod_views_rdd.cache()

In [ ]:
training_rdd, test_rdd = n_prod_views_rdd.randomSplit([8,2], 1345)

In [ ]:
training_rdd.cache(), test_rdd.cache()

In [ ]:
test_for_predict_rdd = test_rdd.map(lambda x : (x[0], x[1]))

In [ ]:
import math

In [ ]:
seed = 49247
iterations = 10
lambdas = [0.01, 0.1]
ranks = [16]
alphas = [1.0, 2.0, 40.0, 80.0]
errors = [0 for x in range(len(alphas) * len(ranks) * len(lambdas))]
err_index = 0

In [ ]:
dict_error = []
for lambda_ in  lambdas:
    for rank in ranks:
        for alpha in alphas:
            model = ALS.trainImplicit(training_rdd, rank, seed=seed, iterations=iterations,
                                           lambda_ = lambda_, alpha = alpha)
            predictions = model.predictAll(test_for_predict_rdd).map(lambda r : ((r[0], r[1]), r[2]))
            views_and_preds = test_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
            error = math.sqrt(views_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
            errors[err_index] = error
            err_index += 1
            print('For rank {0} at alpha: {1} and lambda: {2}, the RMSE is{3}'.format(rank, alpha, lambda_, error))
            dict_error.append({
                'alpha': alpha,
                'lambda_': lambda_,
                'error': error
            })

In [ ]:
min_error = min(errors)
final_lambda_ = None
final_alpha = None
for item in dict_error:
    if item['error'] == min_error:
        final_lambda_ = item['lambda_']
        final_alpha = item['alpha']

In [ ]:
final_model = ALS.trainImplicit(n_prod_views_rdd, rank=ranks[0], seed=49247, iterations=10,
                                lambda_=final_lambda_, alpha=final_alpha)

In [ ]:
no_of_products_recommended = 20

In [ ]:
user_rec = final_model.recommendProductsForUsers(no_of_products_recommended).collect()

In [ ]:
user_rec1 = []

In [ ]:
for x in range(len(user_rec)):
    for y in range(len(user_rec[0][1])):
        v = user_rec[x][1][y][0:3]
        d = list(v)
        user_rec1.append(d)

In [ ]:
user_rec_df = pd.DataFrame(user_rec1, columns=['cust_id', 'recommended_prod', 'rating'])

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')

In [ ]:
user_rec_df.to_sql('trans_recommendations', engine)