In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
    database = 'postgres_db',
    user = 'postgres_user',
    password = 'admin',
    host = 'client.tuple-mia.com',
    port = '5432',
    sslmode = 'require')

In [3]:
temp = conn.cursor()

In [4]:
import yaml
with open('/home/ubuntu/MappingBuffer_event.yml','r') as f:
    doc = yaml.load(f)

In [5]:
print doc['table_map']
print doc['column_map']

{'CUSTOMER_CONTACT': 'contact', 'EVENT_LOG': 'event', 'TRANSACTION_MASTER': 'trans', 'CUSTOMER_SECONDARY': 'temp_customer_secondary', 'EVENT_MASTER': 'event_master', 'CUSTOMER_MASTER': 'users'}
{'CUSTOMER_CONTACT': {'phone_number': 'phone', 'cust_id': 'id', 'firstname': 'first_name', 'facebook_id': 'facebook_id', 'email_id': 'email', 'lastname': 'last_name'}, 'EVENT_LOG': {'timestamp': 'timestamp', 'cust_id': 'from_id', 'product_id': 'to_id', 'action_type': 'actiontype'}, 'TRANSACTION_MASTER': {'cust_id': 'userid', 'product_id': 'product_id', 'revenue': 'revenue', 'timestamp': 'purchase_date', 'renewal': 'renewal', 'quantity': 'quantity'}, 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'}, 'EVENT_MASTER': {'action_category_id': None, 'action_category_name': None, 'action_type': 'actiontype', 'action_name': 'action_desc'}, 'CUSTOMER_MASTER': {'create_date': 'create_date', 'birthday': 'birthday', 'cust_id': 'id'}}

In [6]:
query = 'SELECT * FROM %s'%(doc['table_map']['EVENT_LOG'])

In [7]:
print query

SELECT * FROM event

In [8]:
temp.execute(query)

In [9]:
event = temp.fetchall()

In [10]:
len(event)

7163170

In [11]:
col_names = [desc[0] for desc in temp.description]

In [12]:
col_names

['to_id', 'timestamp', 'actiontype', 'from_id']

In [13]:
import pandas as pd

In [14]:
event_table = pd.DataFrame(event, columns=col_names)

In [15]:
event_table.head()

    to_id                 timestamp  actiontype  from_id
0  255074 2016-11-19 00:52:13+00:00           1  6148771
1  304603 2016-11-20 08:03:32+00:00           1  6148771
2  368895 2016-11-15 09:28:35+00:00           1  6148771
3  376784 2016-11-15 09:43:29+00:00           1  6148771
4  462976 2016-11-15 09:44:27+00:00           1  6148771

In [16]:
event_table.rename(columns={doc['column_map']['EVENT_LOG']['cust_id']:'cust_id'}, inplace=True)
event_table.rename(columns={doc['column_map']['EVENT_LOG']['product_id']:'product_id'}, inplace=True)

In [17]:
event_table.head()

   product_id                 timestamp  actiontype  cust_id
0      255074 2016-11-19 00:52:13+00:00           1  6148771
1      304603 2016-11-20 08:03:32+00:00           1  6148771
2      368895 2016-11-15 09:28:35+00:00           1  6148771
3      376784 2016-11-15 09:43:29+00:00           1  6148771
4      462976 2016-11-15 09:44:27+00:00           1  6148771

In [18]:
event_df = event_table[['cust_id', 'product_id']]

In [19]:
event_df.head()

   cust_id  product_id
0  6148771      255074
1  6148771      304603
2  6148771      368895
3  6148771      376784
4  6148771      462976

In [20]:
len(event_df.cust_id.unique())

6256

In [21]:
len(event_df.product_id.unique())

386251

In [22]:
grp_prod = event_df.groupby(['product_id']).count()

In [23]:
grp_prod.head()

            cust_id
product_id
1071              1
1153              2
9516              2
9700              2
9782              1

In [24]:
grp_prod = grp_prod.reset_index()

In [25]:
grp_prod.head()

   product_id  cust_id
0        1071        1
1        1153        2
2        9516        2
3        9700        2
4        9782        1

In [26]:
grp_prod.rename(columns={'cust_id':'value'}, inplace=True)

In [27]:
grp_prod.head()

   product_id  value
0        1071      1
1        1153      2
2        9516      2
3        9700      2
4        9782      1

In [28]:
grp_prod['value'].max()

1770

In [29]:
grp_prod_cou = grp_prod.groupby(['value']).count()

In [30]:
grp_prod_cou.head()

       product_id
value
1          120224
2           53167
3           31734
4           21858
5           16395

In [31]:
grp_prod_cou = grp_prod_cou.reset_index()

In [32]:
grp_prod_cou.rename(columns = {'value':'no_of_users'}, inplace=True)
grp_prod_cou.rename(columns = {'product_id':'product_count'}, inplace=True)

In [33]:
grp_prod_cou.head()

   no_of_users  product_count
0            1         120224
1            2          53167
2            3          31734
3            4          21858
4            5          16395

In [34]:
grp_prod_cou.tail()

      no_of_users  product_count
1115         1595              1
1116         1603              2
1117         1636              1
1118         1694              1
1119         1770              1

In [35]:
grp_prod_cou['no_of_users'].max()

1770

In [36]:
reversed_df = grp_prod_cou.sort_index(ascending = False)

In [37]:
reversed_df.head()

      no_of_users  product_count
1119         1770              1
1118         1694              1
1117         1636              1
1116         1603              2
1115         1595              1

In [38]:
reversed_df['product_per'] = ""

In [39]:
reversed_df['aggregated_per'] = ""

In [40]:
reversed_df.head()

      no_of_users  product_count product_per aggregated_per
1119         1770              1
1118         1694              1
1117         1636              1
1116         1603              2
1115         1595              1

In [41]:
reversed_df['no_of_users'].sum()

666725

In [42]:
reversed_df['product_per'] = reversed_df['product_count']/reversed_df['product_count'].sum() * 100

In [43]:
reversed_df.head()

      no_of_users  product_count  product_per aggregated_per
1119         1770              1     0.000259
1118         1694              1     0.000259
1117         1636              1     0.000259
1116         1603              2     0.000518
1115         1595              1     0.000259

In [44]:
reversed_df['aggregated_per'] = reversed_df.product_per.cumsum()

In [45]:
reversed_df.head()

      no_of_users  product_count  product_per  aggregated_per
1119         1770              1     0.000259        0.000259
1118         1694              1     0.000259        0.000518
1117         1636              1     0.000259        0.000777
1116         1603              2     0.000518        0.001294
1115         1595              1     0.000259        0.001553

In [46]:
prod_df = reversed_df

In [47]:
prod_df.head()

      no_of_users  product_count  product_per  aggregated_per
1119         1770              1     0.000259        0.000259
1118         1694              1     0.000259        0.000518
1117         1636              1     0.000259        0.000777
1116         1603              2     0.000518        0.001294
1115         1595              1     0.000259        0.001553

In [53]:
prod_df

      no_of_users  product_count  product_per  aggregated_per
1119         1770              1     0.000259        0.000259
1118         1694              1     0.000259        0.000518
1117         1636              1     0.000259        0.000777
1116         1603              2     0.000518        0.001294
1115         1595              1     0.000259        0.001553
1114         1593              1     0.000259        0.001812
1113         1556              1     0.000259        0.002071
1112         1543              1     0.000259        0.002330
1111         1539              1     0.000259        0.002589
1110         1536              1     0.000259        0.002848
1109         1532              1     0.000259        0.003107
1108         1528              1     0.000259        0.003366
1107         1506              1     0.000259        0.003625
1106         1494              1     0.000259        0.003883
1105         1489              1     0.000259        0.004142
1104         1488              1     0.000259        0.004401
1103         1487              1     0.000259        0.004660
1102         1482              2     0.000518        0.005178
1101         1458              1     0.000259        0.005437
1100         1444              2     0.000518        0.005955
1099         1441              2     0.000518        0.006472
1098         1438              1     0.000259        0.006731
1097         1422              1     0.000259        0.006990
1096         1418              1     0.000259        0.007249
1095         1412              1     0.000259        0.007508
1094         1411              1     0.000259        0.007767
1093         1408              2     0.000518        0.008285
1092         1394              1     0.000259        0.008544
1091         1393              1     0.000259        0.008803
1090         1391              1     0.000259        0.009061
...           ...            ...          ...             ...
29             30           1161     0.300582       11.678157
28             29           1280     0.331391       12.009548
27             28           1371     0.354951       12.364499
26             27           1410     0.365048       12.729546
25             26           1550     0.401293       13.130840
24             25           1654     0.428219       13.559059
23             24           1739     0.450225       14.009284
22             23           1893     0.490096       14.499380
21             22           2120     0.548866       15.048246
20             21           2250     0.582523       15.630769
19             20           2434     0.630160       16.260929
18             19           2523     0.653202       16.914131
17             18           2871     0.743299       17.657430
16             17           3188     0.825370       18.482800
15             16           3375     0.873784       19.356584
14             15           3741     0.968541       20.325125
13             14           4140     1.071842       21.396967
12             13           4425     1.145628       22.542595
11             12           5123     1.326340       23.868935
10             11           5562     1.439996       25.308931
9              10           6241     1.615789       26.924720
8               9           7227     1.871063       28.795783
7               8           8594     2.224978       31.020761
6               7          10238     2.650608       33.671369
5               6          12817     3.318309       36.989678
4               5          16395     4.244649       41.234327
3               4          21858     5.659014       46.893341
2               3          31734     8.215901       55.109242
1               2          53167    13.764883       68.874126
0               1         120224    31.125874      100.000000

[1120 rows x 4 columns]

In [ ]:
prod = grp_prod.loc[grp_prod['value'] > 1]