In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
    database = 'postgres_db',
    user = 'postgres_user',
    password = 'admin',
    host = 'client.tuple-mia.com',
    port = '5432',
    sslmode = 'require')

In [3]:
temp = conn.cursor()

In [4]:
import yaml
with open('/home/ubuntu/MappingBuffer_event.yml','r') as f:
    doc = yaml.load(f)

In [5]:
print doc['table_map']
print doc['column_map']

{'CUSTOMER_CONTACT': 'contact', 'EVENT_LOG': 'event', 'TRANSACTION_MASTER': 'trans', 'CUSTOMER_SECONDARY': 'temp_customer_secondary', 'EVENT_MASTER': 'event_master', 'CUSTOMER_MASTER': 'users'}
{'CUSTOMER_CONTACT': {'phone_number': 'phone', 'cust_id': 'id', 'firstname': 'first_name', 'facebook_id': 'facebook_id', 'email_id': 'email', 'lastname': 'last_name'}, 'EVENT_LOG': {'timestamp': 'timestamp', 'cust_id': 'from_id', 'product_id': 'to_id', 'action_type': 'actiontype'}, 'TRANSACTION_MASTER': {'cust_id': 'userid', 'product_id': 'product_id', 'revenue': 'revenue', 'timestamp': 'purchase_date', 'renewal': 'renewal', 'quantity': 'quantity'}, 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'}, 'EVENT_MASTER': {'action_category_id': None, 'action_category_name': None, 'action_type': 'actiontype', 'action_name': 'action_desc'}, 'CUSTOMER_MASTER': {'create_date': 'create_date', 'birthday': 'birthday', 'cust_id': 'id'}}

In [6]:
query = 'SELECT * FROM %s'%(doc['table_map']['EVENT_LOG'])

In [7]:
print query

SELECT * FROM event

In [8]:
temp.execute(query)

In [9]:
event = temp.fetchall()

In [10]:
len(event)

7163170

In [11]:
col_names = [desc[0] for desc in temp.description]

In [12]:
col_names

['to_id', 'timestamp', 'actiontype', 'from_id']

In [13]:
import pandas as pd

In [14]:
event_table = pd.DataFrame(event, columns=col_names)

In [15]:
event_table.head()

    to_id                 timestamp  actiontype  from_id
0  255074 2016-11-19 00:52:13+00:00           1  6148771
1  304603 2016-11-20 08:03:32+00:00           1  6148771
2  368895 2016-11-15 09:28:35+00:00           1  6148771
3  376784 2016-11-15 09:43:29+00:00           1  6148771
4  462976 2016-11-15 09:44:27+00:00           1  6148771

In [16]:
event_table.rename(columns={doc['column_map']['EVENT_LOG']['cust_id']:'cust_id'}, inplace=True)
event_table.rename(columns={doc['column_map']['EVENT_LOG']['product_id']:'product_id'}, inplace=True)

In [17]:
event_table.head()

   product_id                 timestamp  actiontype  cust_id
0      255074 2016-11-19 00:52:13+00:00           1  6148771
1      304603 2016-11-20 08:03:32+00:00           1  6148771
2      368895 2016-11-15 09:28:35+00:00           1  6148771
3      376784 2016-11-15 09:43:29+00:00           1  6148771
4      462976 2016-11-15 09:44:27+00:00           1  6148771

In [18]:
event_df = event_table[['cust_id', 'product_id']]

In [19]:
event_df.head()

   cust_id  product_id
0  6148771      255074
1  6148771      304603
2  6148771      368895
3  6148771      376784
4  6148771      462976

In [20]:
len(event_df.cust_id.unique())

6256

In [21]:
len(event_df.product_id.unique())

386251

In [22]:
grp_cust = event_df.groupby(['cust_id']).count()

In [23]:
grp_cust.head()

         product_id
cust_id
3289765         683
6148771         488
6148821        7077
6148833           1
6149073         287

In [24]:
grp_cust= grp_cust.reset_index()

In [25]:
grp_cust.rename(columns = {'product_id':'value'}, inplace=True)

In [26]:
grp_cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
3  6148833      1
4  6149073    287

In [27]:
grp_cust['value'].max()

50989

In [28]:
grp_cust_cou = grp_cust.groupby(['value']).count()

In [29]:
grp_cust_cou.head()

       cust_id
value
1           30
2           21
3           20
4           23
5           29

In [30]:
grp_cust_cou = grp_cust_cou.reset_index()

In [31]:
grp_cust_cou.rename(columns = {'value':'no_of_products'}, inplace=True)
grp_cust_cou.rename(columns = {'cust_id':'users_count'}, inplace=True)

In [32]:
grp_cust_cou.head()

   no_of_products  users_count
0               1           30
1               2           21
2               3           20
3               4           23
4               5           29

In [33]:
grp_cust_cou.tail()

      no_of_products  users_count
2270           41237            1
2271           43194            1
2272           43951            1
2273           50468            1
2274           50989            1

In [34]:
grp_cust_cou['no_of_products'].max()

50989

In [35]:
reversed_df = grp_cust_cou.sort_index(ascending = False)

In [36]:
reversed_df.head()

      no_of_products  users_count
2274           50989            1
2273           50468            1
2272           43951            1
2271           43194            1
2270           41237            1

In [37]:
reversed_df['users_per'] = ""

In [38]:
reversed_df['aggregated_per'] = ""

In [39]:
reversed_df.head()

      no_of_products  users_count users_per aggregated_per
2274           50989            1
2273           50468            1
2272           43951            1
2271           43194            1
2270           41237            1

In [40]:
reversed_df['users_count'].sum()

6256

In [41]:
reversed_df['users_per'] = reversed_df['users_count']/reversed_df['users_count'].sum() * 100

In [42]:
reversed_df.head()

      no_of_products  users_count  users_per aggregated_per
2274           50989            1   0.015985
2273           50468            1   0.015985
2272           43951            1   0.015985
2271           43194            1   0.015985
2270           41237            1   0.015985

In [43]:
reversed_df['aggregated_per'] = reversed_df.users_per.cumsum()

In [44]:
reversed_df.head()

      no_of_products  users_count  users_per  aggregated_per
2274           50989            1   0.015985        0.015985
2273           50468            1   0.015985        0.031969
2272           43951            1   0.015985        0.047954
2271           43194            1   0.015985        0.063939
2270           41237            1   0.015985        0.079923

In [45]:
cust_df = reversed_df

In [46]:
cust_df.head()

      no_of_products  users_count  users_per  aggregated_per
2274           50989            1   0.015985        0.015985
2273           50468            1   0.015985        0.031969
2272           43951            1   0.015985        0.047954
2271           43194            1   0.015985        0.063939
2270           41237            1   0.015985        0.079923

In [47]:
cust_df.tail(30)

    no_of_products  users_count  users_per  aggregated_per
29              30           21   0.335678       88.954604
28              29           45   0.719309       89.673913
27              28           28   0.447570       90.121483
26              27           20   0.319693       90.441176
25              26           21   0.335678       90.776854
24              25           18   0.287724       91.064578
23              24           19   0.303708       91.368286
22              23           19   0.303708       91.671995
21              22           22   0.351662       92.023657
20              21           21   0.335678       92.359335
19              20           14   0.223785       92.583120
18              19           23   0.367647       92.950767
17              18           20   0.319693       93.270460
16              17           19   0.303708       93.574169
15              16           30   0.479540       94.053708
14              15           28   0.447570       94.501279
13              14           15   0.239770       94.741049
12              13           24   0.383632       95.124680
11              12           15   0.239770       95.364450
10              11           21   0.335678       95.700128
9               10           46   0.735294       96.435422
8                9           21   0.335678       96.771100
7                8           19   0.303708       97.074808
6                7           29   0.463555       97.538363
5                6           31   0.495524       98.033887
4                5           29   0.463555       98.497442
3                4           23   0.367647       98.865090
2                3           20   0.319693       99.184783
1                2           21   0.335678       99.520460
0                1           30   0.479540      100.000000

In [48]:
grp_cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
3  6148833      1
4  6149073    287

In [ ]:
grp_cust.ix[0,0]

In [51]:
cust = grp_cust.loc[grp_cust['value'] > 28]

In [ ]:
del cust['value']

In [ ]:
cust.head()

In [ ]:
cust.shape

In [54]:
grp_cust.head()

   cust_id  value
0  3289765    683
1  6148771    488
2  6148821   7077
3  6148833      1
4  6149073    287