In [1]:
cd

/home/ubuntu

In [2]:
from DemoServerDB import ConnectDatabase
from mapping import doc
import pandas as pd
import math

In [3]:
doc['table_map']

{'CUSTOMER_CONTACT': 'contact',
 'CUSTOMER_MASTER': 'users',
 'CUSTOMER_SECONDARY': 'temp_customer_secondary',
 'EVENT_LOG': 'event',
 'EVENT_MASTER': 'event_master',
 'TRANSACTION_MASTER': 'trans'}

In [4]:
doc['column_map']

{'CUSTOMER_CONTACT': {'cust_id': 'id',
  'email_id': 'email',
  'facebook_id': 'facebook_id',
  'firstname': 'first_name',
  'lastname': 'last_name',
  'phone_number': 'phone'},
 'CUSTOMER_MASTER': {'birthday': 'birthday',
  'create_date': 'create_date',
  'cust_id': 'id'},
 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'},
 'EVENT_LOG': {'action_type': 'actiontype',
  'cust_id': 'from_id',
  'product_id': 'to_id',
  'timestamp': 'timestamp'},
 'EVENT_MASTER': {'action_category_id': None,
  'action_category_name': None,
  'action_name': 'action_desc',
  'action_type': 'actiontype'},
 'TRANSACTION_MASTER': {'cust_id': 'userid',
  'product_id': 'product_id',
  'quantity': 'quantity',
  'renewal': 'renewal',
  'revenue': 'revenue',
  'timestamp': 'purchase_date'}}

In [5]:
temp = ConnectDatabase()

In [6]:
temp.conn

In [8]:
query = 'SELECT %s,%s FROM %s'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                                doc['column_map']['TRANSACTION_MASTER']['product_id'],
                                doc['table_map']['TRANSACTION_MASTER'])

In [9]:
print query

SELECT userid,product_id FROM trans

In [10]:
temp.cur.execute(query)

In [11]:
col_names = [desc[0] for desc in temp.cur.description]

In [12]:
col_names

['userid', 'product_id']

In [13]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [14]:
trans_table.head()

    userid                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [15]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [16]:
trans_table.head()

   cust_id                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [17]:
trans_table.loc[:, 'action_type'] = 1

In [18]:
trans_table.head()

   cust_id                               product_id  action_type
0  3893506  com.gopaktor.subscription.v1.premium.1m            1
1  3793254  com.gopaktor.subscription.v1.premium.1m            1
2  6148794  com.gopaktor.subscription.v1.premium.1m            1
3  6149220  com.gopaktor.subscription.v4.premium.1m            1
4  6149432  com.gopaktor.subscription.v4.premium.1m            1

In [19]:
trans_df = trans_table[['cust_id', 'product_id']]

In [20]:
trans_df.head()

   cust_id                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [21]:
trans_df['cust_id'] = trans_df['cust_id'].astype('category')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
trans_df['cust_id'] = trans_df['cust_id'].cat.codes

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
trans_df['product_id'] = trans_df['product_id'].astype('category')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
trans_df['product_id'] = trans_df['product_id'].cat.codes

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [25]:
trans_df.head()

   cust_id  product_id
0        7           5
1        6           5
2       10           5
3       15          17
4       21          17

In [26]:
cust_prod_trans = trans_df[['cust_id','product_id']]

In [27]:
grp_cust = cust_prod_trans.groupby('cust_id').count()

In [28]:
grp_cust= grp_cust.reset_index()

In [29]:
grp_cust.rename(columns = {'product_id':'value'}, inplace=True)

In [30]:
grp_cust_cou = grp_cust.groupby(['value']).count()

In [31]:
grp_cust_cou = grp_cust_cou.reset_index()

In [32]:
grp_cust_cou.rename(columns = {'value':'no_of_products'}, inplace=True)
grp_cust_cou.rename(columns = {'cust_id':'users_count'}, inplace=True)

In [33]:
grp_cust_cou

   no_of_products  users_count
0               1         2215
1               2          568
2               3          176
3               4          104
4               5           19
5               6            2
6               8            2
7              10            1

In [34]:
grp_cust_cou = grp_cust_cou.sort_index(ascending = False)

In [35]:
grp_cust_cou

   no_of_products  users_count
7              10            1
6               8            2
5               6            2
4               5           19
3               4          104
2               3          176
1               2          568
0               1         2215

In [36]:
grp_cust_cou['users_per'] = grp_cust_cou['users_count']/grp_cust_cou['users_count'].sum() * 100

In [37]:
grp_cust_cou['aggregated_per'] = grp_cust_cou.users_per.cumsum()

In [38]:
grp_cust_cou

   no_of_products  users_count  users_per  aggregated_per
7              10            1   0.032394        0.032394
6               8            2   0.064788        0.097182
5               6            2   0.064788        0.161970
4               5           19   0.615484        0.777454
3               4          104   3.368967        4.146420
2               3          176   5.701328        9.847749
1               2          568  18.399741       28.247489
0               1         2215  71.752511      100.000000

In [39]:
cust_df = grp_cust_cou

In [40]:
cust_df

   no_of_products  users_count  users_per  aggregated_per
7              10            1   0.032394        0.032394
6               8            2   0.064788        0.097182
5               6            2   0.064788        0.161970
4               5           19   0.615484        0.777454
3               4          104   3.368967        4.146420
2               3          176   5.701328        9.847749
1               2          568  18.399741       28.247489
0               1         2215  71.752511      100.000000

In [41]:
cust_df = cust_df.reset_index(drop=True)

In [42]:
cust_df

   no_of_products  users_count  users_per  aggregated_per
0              10            1   0.032394        0.032394
1               8            2   0.064788        0.097182
2               6            2   0.064788        0.161970
3               5           19   0.615484        0.777454
4               4          104   3.368967        4.146420
5               3          176   5.701328        9.847749
6               2          568  18.399741       28.247489
7               1         2215  71.752511      100.000000

In [43]:
threshold_df_cust = cust_df.loc[cust_df['aggregated_per'] > 85]

In [44]:
threshold_df_cust

   no_of_products  users_count  users_per  aggregated_per
7               1         2215  71.752511           100.0

In [45]:
threshold_value_cust = threshold_df_cust.no_of_products.loc[threshold_df_cust['aggregated_per'] > 90]

In [46]:
threshold_value_cust

7    1
Name: no_of_products, dtype: int64

In [47]:
threshold_value_cust = threshold_value_cust.reset_index(drop=True)

In [48]:
threshold_value_cust

0    1
Name: no_of_products, dtype: int64

In [49]:
cust = grp_cust.loc[grp_cust['value'] > threshold_value_cust[0]]

In [50]:
cust.head()

   cust_id  value
1        1     10
4        4      2
5        5      2
6        6      4
7        7      4

In [51]:
cust = cust.reset_index(drop=True)

In [52]:
cust.head()

   cust_id  value
0        1     10
1        4      2
2        5      2
3        6      4
4        7      4

In [53]:
del cust['value']

In [54]:
cust.shape

(872, 1)

In [55]:
grp_prod = cust_prod_trans.groupby(['product_id']).count()

In [56]:
grp_prod

            cust_id
product_id
0               185
1                 3
2                 6
3                 1
4                 1
5              1536
6                43
7               341
8               132
9               696
10                2
11               45
12              227
13               17
14               44
15               24
16               33
17             1092

In [57]:
grp_prod = grp_prod.reset_index()

In [58]:
grp_prod.rename(columns={'cust_id':'value'}, inplace=True)

In [59]:
grp_prod_cou = grp_prod.groupby(['value']).count()

In [60]:
grp_prod_cou = grp_prod_cou.reset_index()

In [61]:
grp_prod_cou.rename(columns = {'value':'no_of_users'}, inplace=True)
grp_prod_cou.rename(columns = {'product_id':'product_count'}, inplace=True)

In [62]:
grp_prod_cou = grp_prod_cou.sort_index(ascending = False)

In [63]:
grp_prod_cou

    no_of_users  product_count
16         1536              1
15         1092              1
14          696              1
13          341              1
12          227              1
11          185              1
10          132              1
9            45              1
8            44              1
7            43              1
6            33              1
5            24              1
4            17              1
3             6              1
2             3              1
1             2              1
0             1              2

In [64]:
grp_prod_cou['product_per'] = grp_prod_cou['product_count']/grp_prod_cou['product_count'].sum() * 100

In [65]:
grp_prod_cou['aggregated_per'] = grp_prod_cou.product_per.cumsum()

In [66]:
prod_df = grp_prod_cou

In [67]:
prod_df

    no_of_users  product_count  product_per  aggregated_per
16         1536              1     5.555556        5.555556
15         1092              1     5.555556       11.111111
14          696              1     5.555556       16.666667
13          341              1     5.555556       22.222222
12          227              1     5.555556       27.777778
11          185              1     5.555556       33.333333
10          132              1     5.555556       38.888889
9            45              1     5.555556       44.444444
8            44              1     5.555556       50.000000
7            43              1     5.555556       55.555556
6            33              1     5.555556       61.111111
5            24              1     5.555556       66.666667
4            17              1     5.555556       72.222222
3             6              1     5.555556       77.777778
2             3              1     5.555556       83.333333
1             2              1     5.555556       88.888889
0             1              2    11.111111      100.000000

In [68]:
prod_df = prod_df.reset_index(drop=True)

In [69]:
prod_df

    no_of_users  product_count  product_per  aggregated_per
0          1536              1     5.555556        5.555556
1          1092              1     5.555556       11.111111
2           696              1     5.555556       16.666667
3           341              1     5.555556       22.222222
4           227              1     5.555556       27.777778
5           185              1     5.555556       33.333333
6           132              1     5.555556       38.888889
7            45              1     5.555556       44.444444
8            44              1     5.555556       50.000000
9            43              1     5.555556       55.555556
10           33              1     5.555556       61.111111
11           24              1     5.555556       66.666667
12           17              1     5.555556       72.222222
13            6              1     5.555556       77.777778
14            3              1     5.555556       83.333333
15            2              1     5.555556       88.888889
16            1              2    11.111111      100.000000

In [70]:
threshold_df_prod = prod_df.loc[prod_df['aggregated_per'] > 85]

In [71]:
threshold_df_prod

    no_of_users  product_count  product_per  aggregated_per
15            2              1     5.555556       88.888889
16            1              2    11.111111      100.000000

In [72]:
threshold_df_prod = threshold_df_prod.reset_index(drop=True)

In [73]:
threshold_df_prod

   no_of_users  product_count  product_per  aggregated_per
0            2              1     5.555556       88.888889
1            1              2    11.111111      100.000000

In [74]:
threshold_value_prod = threshold_df_prod.no_of_users.loc[threshold_df_prod['aggregated_per'] > 90]

In [75]:
threshold_value_prod

1    1
Name: no_of_users, dtype: int64

In [76]:
threshold_value_prod = threshold_value_prod.reset_index(drop=True)

In [77]:
threshold_value_prod

0    1
Name: no_of_users, dtype: int64

In [78]:
prod = grp_prod.loc[grp_prod['value'] > threshold_value_prod[0]]

In [79]:
prod

    product_id  value
0            0    185
1            1      3
2            2      6
5            5   1536
6            6     43
7            7    341
8            8    132
9            9    696
10          10      2
11          11     45
12          12    227
13          13     17
14          14     44
15          15     24
16          16     33
17          17   1092

In [80]:
prod = prod.reset_index(drop=True)

In [81]:
prod

    product_id  value
0            0    185
1            1      3
2            2      6
3            5   1536
4            6     43
5            7    341
6            8    132
7            9    696
8           10      2
9           11     45
10          12    227
11          13     17
12          14     44
13          15     24
14          16     33
15          17   1092

In [82]:
del prod['value']

In [83]:
final_data = trans_df.merge(cust,on='cust_id').merge(prod,on='product_id')

In [84]:
final_data.head()

   cust_id  product_id
0        7           5
1        7           5
2        7           5
3        7           5
4        6           5

In [85]:
final_data.shape

(2212, 2)

In [86]:
trans_df.shape

(4428, 2)

In [ ]:
dir()

In [ ]:
del [cust, cust_df, trans, trans_df, trans_table, grp_cust, grp_cust_cou, grp_prod, grp_prod_cou,
     prod, prod_df]

In [ ]:
import findspark

In [ ]:
findspark.init()

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext,Row
from pyspark.mllib.recommendation import ALS

In [ ]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import IntegerType
from pyspark.sql.types import StringType

In [ ]:
sc = SparkContext(appName = "TRANSACTION_MASTER_RECOMMENDATIONS")

In [ ]:
sqlContext = SQLContext(sc)

In [ ]:
schema = StructType([StructField('cust_id', StringType(), True),
                     StructField('product_id', IntegerType(), True),
                     StructField('action_type', IntegerType(), True)])

In [ ]:
n_prod_views_rdd = sqlContext.createDataFrame(final_data).rdd

In [ ]:
type(n_prod_views_rdd)

In [ ]:
n_prod_views_rdd.take(5)

In [ ]:
training_rdd, test_rdd = n_prod_views_rdd.randomSplit([8,2], 1345)

In [ ]:
training_rdd.take(5)

In [ ]:
training_rdd.cache(), test_rdd.cache()

In [ ]:
test_for_predict_rdd = test_rdd.map(lambda x : (x[0], x[1]))

In [ ]:
seed = 49247
iterations = 10
lambdas = [0.01, 0.1]
ranks = [16]
alphas = [1.0, 2.0, 40.0, 80.0]
errors = [0 for x in range(len(alphas) * len(ranks) * len(lambdas))]
err_index = 0

In [ ]:
dict_error = []
for lambda_ in  lambdas:
    for rank in ranks:
        for alpha in alphas:
            model = ALS.trainImplicit(training_rdd, rank, seed=seed, iterations=iterations,
                                           lambda_ = lambda_, alpha = alpha)
            predictions = model.predictAll(test_for_predict_rdd).map(lambda r : ((r[0], r[1]), r[2]))
            views_and_preds = test_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
            error = math.sqrt(views_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
            errors[err_index] = error
            err_index += 1
            print('For rank {0} at alpha: {1} and lambda: {2}, the RMSE is{3}'.format(rank, alpha, lambda_, error))
            dict_error.append({
                'alpha': alpha,
                'lambda_': lambda_,
                'error': error
            })

In [ ]:
ranks[0]

In [ ]:
min_error = min(errors)
final_lambda_ = None
final_alpha = None
for item in dict_error:
    if item['error'] == min_error:
        final_lambda_ = item['lambda_']
        final_alpha = item['alpha']

In [ ]:
final_lambda_

In [ ]:
min_error

In [ ]:
final_alpha

In [ ]:
final_model = ALS.trainImplicit(n_prod_views_rdd, rank=ranks[0], seed=49247, iterations=10,
                                lambda_=final_lambda_, alpha=final_alpha)

In [ ]:
no_of_products_recommended = 20

In [ ]:
user_rec = final_model.recommendProductsForUsers(no_of_products_recommended).collect()

In [ ]:
user_rec1 = []

In [ ]:
for x in range(len(user_rec)):
    for y in range(len(user_rec[0][1])):
        v = user_rec[x][1][y][0:3]
        d = list(v)
        user_rec1.append(d)

In [ ]:
user_rec1[0]

In [ ]:
user_rec_df = pd.DataFrame(user_rec1, columns=['cust_id', 'recommended_prod', 'rating'])

In [ ]:
user_rec_df.head()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')

In [ ]:
user_rec_df.to_sql('trans_recommendations', engine)