In [1]:
cd

/home/ubuntu

In [2]:
from DemoServerDB import ConnectDatabase
from mapping import doc
import pandas as pd
import math

In [3]:
doc['table_map']

{'CUSTOMER_CONTACT': 'contact',
 'CUSTOMER_MASTER': 'users',
 'CUSTOMER_SECONDARY': 'temp_customer_secondary',
 'EVENT_LOG': 'event',
 'EVENT_MASTER': 'event_master',
 'TRANSACTION_MASTER': 'trans'}

In [4]:
doc['column_map']

{'CUSTOMER_CONTACT': {'cust_id': 'id',
  'email_id': 'email',
  'facebook_id': 'facebook_id',
  'firstname': 'first_name',
  'lastname': 'last_name',
  'phone_number': 'phone'},
 'CUSTOMER_MASTER': {'birthday': 'birthday',
  'create_date': 'create_date',
  'cust_id': 'id'},
 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'},
 'EVENT_LOG': {'action_type': 'actiontype',
  'cust_id': 'from_id',
  'product_id': 'to_id',
  'timestamp': 'timestamp'},
 'EVENT_MASTER': {'action_category_id': None,
  'action_category_name': None,
  'action_name': 'action_desc',
  'action_type': 'actiontype'},
 'TRANSACTION_MASTER': {'cust_id': 'userid',
  'product_id': 'product_id',
  'quantity': 'quantity',
  'renewal': 'renewal',
  'revenue': 'revenue',
  'timestamp': 'purchase_date'}}

In [5]:
temp = ConnectDatabase()

In [6]:
temp.conn

In [7]:
query = 'SELECT * FROM %s'%(doc['table_map']['TRANSACTION_MASTER'])

In [8]:
print query

SELECT * FROM trans

In [9]:
temp.cur.execute(query)

In [10]:
trans = temp.cur.fetchall()

In [11]:
len(trans)

4428

In [12]:
col_names = [desc[0] for desc in temp.cur.description]

In [13]:
col_names

['product_id',
 'receipt_id',
 'revenue',
 'purchase_date',
 'renewal',
 'userid',
 'insider',
 'platform',
 'quantity']

In [14]:
trans_table = pd.DataFrame(trans, columns=col_names)

In [15]:
trans_table.head()

,product_id,receipt_id,revenue,purchase_date,renewal,userid,insider,platform,quantity
0,com.gopaktor.subscription.v1.premium.1m,1984955,31.28,2016-09-07 13:59:45+00:00,0,3893506,0,ios,0
1,com.gopaktor.subscription.v1.premium.1m,2170195,31.28,2016-09-25 03:06:11+00:00,0,3793254,0,ios,0
2,com.gopaktor.subscription.v1.premium.1m,2259995,31.28,2016-10-01 02:27:37+00:00,0,6148794,0,ios,0
3,com.gopaktor.subscription.v4.premium.1m,1980761,31.28,2016-10-01 06:39:16+00:00,0,6149220,0,android,0
4,com.gopaktor.subscription.v4.premium.1m,1980865,31.28,2016-10-01 09:07:49+00:00,0,6149432,0,android,0

In [16]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [17]:
trans_table.head()

,product_id,receipt_id,revenue,purchase_date,renewal,cust_id,insider,platform,quantity
0,com.gopaktor.subscription.v1.premium.1m,1984955,31.28,2016-09-07 13:59:45+00:00,0,3893506,0,ios,0
1,com.gopaktor.subscription.v1.premium.1m,2170195,31.28,2016-09-25 03:06:11+00:00,0,3793254,0,ios,0
2,com.gopaktor.subscription.v1.premium.1m,2259995,31.28,2016-10-01 02:27:37+00:00,0,6148794,0,ios,0
3,com.gopaktor.subscription.v4.premium.1m,1980761,31.28,2016-10-01 06:39:16+00:00,0,6149220,0,android,0
4,com.gopaktor.subscription.v4.premium.1m,1980865,31.28,2016-10-01 09:07:49+00:00,0,6149432,0,android,0

In [18]:
trans_df = trans_table[['cust_id', 'product_id']]

In [19]:
trans_df.head()

   cust_id                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [20]:
trans_df.loc[:, 'action_type'] = 1

/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
trans_df.head()

   cust_id                               product_id  action_type
0  3893506  com.gopaktor.subscription.v1.premium.1m            1
1  3793254  com.gopaktor.subscription.v1.premium.1m            1
2  6148794  com.gopaktor.subscription.v1.premium.1m            1
3  6149220  com.gopaktor.subscription.v4.premium.1m            1
4  6149432  com.gopaktor.subscription.v4.premium.1m            1

In [ ]:
# trans_df.loc[:,'cust_id'] = trans_df.loc[:,'cust_id'].astype('category')

In [ ]:
# trans_df.loc[:,'cust_id'] = trans_df.loc[:,'cust_id'].cat.codes

In [22]:
trans_df.loc[:, 'product_id'] = trans_df.loc[:,'product_id'].astype('category')

In [23]:
trans_df.loc[:,'product_id'] = trans_df.loc[:,'product_id'].cat.codes

In [24]:
trans_df.head()

   cust_id  product_id  action_type
0  3893506           5            1
1  3793254           5            1
2  6148794           5            1
3  6149220          17            1
4  6149432          17            1

In [25]:
cust_prod_trans = trans_df[['cust_id','product_id']]

In [26]:
grp_cust = cust_prod_trans.groupby('cust_id').count()

In [27]:
grp_cust= grp_cust.reset_index()

In [28]:
grp_cust.rename(columns = {'product_id':'value'}, inplace=True)

In [29]:
grp_cust_cou = grp_cust.groupby(['value']).count()

In [30]:
grp_cust_cou = grp_cust_cou.reset_index()

In [31]:
grp_cust_cou.rename(columns = {'value':'no_of_products'}, inplace=True)
grp_cust_cou.rename(columns = {'cust_id':'users_count'}, inplace=True)

In [32]:
grp_cust_cou

   no_of_products  users_count
0               1         2215
1               2          568
2               3          176
3               4          104
4               5           19
5               6            2
6               8            2
7              10            1

In [33]:
reversed_df = grp_cust_cou.sort_index(ascending = False)

In [34]:
reversed_df

   no_of_products  users_count
7              10            1
6               8            2
5               6            2
4               5           19
3               4          104
2               3          176
1               2          568
0               1         2215

In [35]:
reversed_df['users_per'] = reversed_df['users_count']/reversed_df['users_count'].sum() * 100

In [36]:
reversed_df['aggregated_per'] = reversed_df.users_per.cumsum()

In [37]:
reversed_df

   no_of_products  users_count  users_per  aggregated_per
7              10            1   0.032394        0.032394
6               8            2   0.064788        0.097182
5               6            2   0.064788        0.161970
4               5           19   0.615484        0.777454
3               4          104   3.368967        4.146420
2               3          176   5.701328        9.847749
1               2          568  18.399741       28.247489
0               1         2215  71.752511      100.000000

In [38]:
cust_df = reversed_df

In [39]:
cust_df

   no_of_products  users_count  users_per  aggregated_per
7              10            1   0.032394        0.032394
6               8            2   0.064788        0.097182
5               6            2   0.064788        0.161970
4               5           19   0.615484        0.777454
3               4          104   3.368967        4.146420
2               3          176   5.701328        9.847749
1               2          568  18.399741       28.247489
0               1         2215  71.752511      100.000000

In [92]:
threshold_df_cust = cust_df.loc[cust_df['aggregated_per'] > 20]

In [93]:
threshold_df_cust

   no_of_products  users_count  users_per  aggregated_per
1               2          568  18.399741       28.247489
0               1         2215  71.752511      100.000000

In [94]:
threshold_df_cust.reset_index(drop=True)

   no_of_products  users_count  users_per  aggregated_per
0               2          568  18.399741       28.247489
1               1         2215  71.752511      100.000000

In [95]:
threshold_value_cust = threshold_df.no_of_products.loc[threshold_df['aggregated_per'] > 90]

In [97]:
threshold_value_cust

0    1
Name: no_of_products, dtype: int64

In [74]:
cust = grp_cust.loc[grp_cust['value'] > threshold_value[0]]

In [43]:
cust.head()

   cust_id  value
1  3053432     10
4  3325662      2
5  3409109      2
6  3793254      4
7  3893506      4

In [44]:
del cust['value']

In [45]:
cust.shape

(872, 1)

In [46]:
grp_prod = cust_prod_trans.groupby(['product_id']).count()

In [47]:
grp_prod = grp_prod.reset_index()

In [48]:
grp_prod.rename(columns={'cust_id':'value'}, inplace=True)

In [49]:
grp_prod_cou = grp_prod.groupby(['value']).count()

In [50]:
grp_prod_cou = grp_prod_cou.reset_index()

In [51]:
grp_prod_cou.rename(columns = {'value':'no_of_users'}, inplace=True)
grp_prod_cou.rename(columns = {'product_id':'product_count'}, inplace=True)

In [52]:
reversed_df1 = grp_prod_cou.sort_index(ascending = False)

In [53]:
reversed_df1

    no_of_users  product_count
16         1536              1
15         1092              1
14          696              1
13          341              1
12          227              1
11          185              1
10          132              1
9            45              1
8            44              1
7            43              1
6            33              1
5            24              1
4            17              1
3             6              1
2             3              1
1             2              1
0             1              2

In [54]:
reversed_df1['product_per'] = reversed_df1['product_count']/reversed_df1['product_count'].sum() * 100

In [55]:
reversed_df1['aggregated_per'] = reversed_df1.product_per.cumsum()

In [56]:
reversed_df1

    no_of_users  product_count  product_per  aggregated_per
16         1536              1     5.555556        5.555556
15         1092              1     5.555556       11.111111
14          696              1     5.555556       16.666667
13          341              1     5.555556       22.222222
12          227              1     5.555556       27.777778
11          185              1     5.555556       33.333333
10          132              1     5.555556       38.888889
9            45              1     5.555556       44.444444
8            44              1     5.555556       50.000000
7            43              1     5.555556       55.555556
6            33              1     5.555556       61.111111
5            24              1     5.555556       66.666667
4            17              1     5.555556       72.222222
3             6              1     5.555556       77.777778
2             3              1     5.555556       83.333333
1             2              1     5.555556       88.888889
0             1              2    11.111111      100.000000

In [57]:
prod_df = reversed_df1

In [98]:
threshold_df_prod = prod_df.loc[prod_df['aggregated_per'] > 80]

In [99]:
threshold_df_prod

   no_of_users  product_count  product_per  aggregated_per
2            3              1     5.555556       83.333333
1            2              1     5.555556       88.888889
0            1              2    11.111111      100.000000

In [100]:
threshold_df_prod.reset_index(drop=True)

   no_of_users  product_count  product_per  aggregated_per
0            3              1     5.555556       83.333333
1            2              1     5.555556       88.888889
2            1              2    11.111111      100.000000

In [101]:
threshold_value_prod = threshold_df_prod.no_of_users.loc[threshold_df_prod['aggregated_per'] > 90]

In [104]:
threshold_value_prod

0    1
Name: no_of_users, dtype: int64

In [60]:
prod = grp_prod.loc[grp_prod['value'] > threshold_value_prod]

In [61]:
prod

    product_id  value
0            0    185
1            1      3
2            2      6
5            5   1536
6            6     43
7            7    341
8            8    132
9            9    696
10          10      2
11          11     45
12          12    227
13          13     17
14          14     44
15          15     24
16          16     33
17          17   1092

In [62]:
del prod['value']

In [63]:
final_data = trans_df.merge(cust,on='cust_id').merge(prod,on='product_id')

In [64]:
final_data.head()

   cust_id  product_id  action_type
0  3893506           5            1
1  3893506           5            1
2  3893506           5            1
3  3893506           5            1
4  3793254           5            1

In [65]:
final_data.shape

(2212, 3)

In [66]:
trans_df.shape

(4428, 3)

In [ ]:
dir()

In [ ]:
del [cust, cust_df, trans, trans_df, trans_table, grp_cust, grp_cust_cou, grp_prod, grp_prod_cou,
     prod, prod_df, reversed_df, reversed_df1]

In [ ]:
dir()

In [ ]:
import findspark

In [ ]:
findspark.init()

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext,Row
from pyspark.mllib.recommendation import ALS

In [ ]:
sc = SparkContext(appName = "Trans_filter_recommendat")

In [ ]:
sqlContext = SQLContext(sc)

In [ ]:
n_prod_views_rdd = sqlContext.createDataFrame(final_data).rdd

In [ ]:
training_rdd, test_rdd = n_prod_views_rdd.randomSplit([8,2], 1345)

In [ ]:
test_for_predict_rdd = test_rdd.map(lambda x : (x[0], x[1]))

In [ ]:
seed = 49247
iterations = 10
lambdas = [0.01, 0.1]
ranks = [16]
alphas = [1.0, 2.0, 4.0, 8.0, 16.0, 32.0, 40.0, 80.0]
errors = [0 for x in range(len(alphas) * len(ranks) * len(lambdas))]
err_index = 0

In [ ]:
for lambda_ in  lambdas:
    for rank in ranks:
        for alpha in alphas:
            model = ALS.trainImplicit(training_rdd, rank, seed=seed, iterations=iterations,
                                           lambda_ = lambda_, alpha = alpha)
            predictions = model.predictAll(test_for_predict_rdd).map(lambda r : ((r[0], r[1]), r[2]))
            views_and_preds = test_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
            error = math.sqrt(views_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
            errors[err_index] = error
            err_index += 1
            print('For rank {0} at alpha: {1} and lambda: {2}, the RMSE is{3}'.format(rank, alpha, lambda_, error))

In [ ]:
final_model = ALS.trainImplicit(n_prod_views_rdd, rank=16, seed=49247, iterations=10,lambda_=0.1, alpha=80.0)

In [ ]:
user_rec = final_model.recommendProductsForUsers(20).collect()

In [ ]:
user_rec[0]

In [ ]:
user_rec1 = []

In [ ]:
for x in range(len(user_rec)):
    for y in range(15):
        v = user_rec[x][1][y][0:3]
        d = list(v)
        user_rec1.append(d)

In [ ]:
user_rec1[0]

In [ ]:
user_rec_df = pd.DataFrame(user_rec1, columns=['cust_id', 'recommend_prod', 'rating'])

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')

In [ ]:
user_rec_df.to_sql('trans_filter_recommendations', engine)