In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
                database='postgres_db',
                user='postgres_user',
                password='admin',
                host='client.tuple-mia.com',
                port='5432',
                sslmode='require'
            )

In [3]:
temp = conn.cursor()

In [4]:
import yaml
with open('/home/ubuntu/MappingBuffer_event.yml', 'r') as f:
    doc = yaml.load(f)

In [5]:
doc['table_map']

{'CUSTOMER_CONTACT': 'contact',
 'CUSTOMER_MASTER': 'users',
 'CUSTOMER_SECONDARY': 'temp_customer_secondary',
 'EVENT_LOG': 'event',
 'EVENT_MASTER': 'event_master',
 'TRANSACTION_MASTER': 'trans'}

In [6]:
doc['column_map']

{'CUSTOMER_CONTACT': {'cust_id': 'id',
  'email_id': 'email',
  'facebook_id': 'facebook_id',
  'firstname': 'first_name',
  'lastname': 'last_name',
  'phone_number': 'phone'},
 'CUSTOMER_MASTER': {'birthday': 'birthday',
  'create_date': 'create_date',
  'cust_id': 'id'},
 'CUSTOMER_SECONDARY': {'cust_id': 'cust_id'},
 'EVENT_LOG': {'action_type': 'actiontype',
  'cust_id': 'from_id',
  'product_id': 'to_id',
  'timestamp': 'timestamp'},
 'EVENT_MASTER': {'action_category_id': None,
  'action_category_name': None,
  'action_name': 'action_desc',
  'action_type': 'actiontype'},
 'TRANSACTION_MASTER': {'cust_id': 'userid',
  'product_id': 'product_id',
  'quantity': 'quantity',
  'renewal': 'renewal',
  'revenue': 'revenue',
  'timestamp': 'purchase_date'}}

In [7]:
query = "SELECT * FROM %s"%(doc['table_map']['TRANSACTION_MASTER'])

In [8]:
print query

SELECT * FROM trans

In [9]:
temp.execute(query)

In [10]:
trans = temp.fetchall()

In [11]:
len(trans)

4428

In [12]:
colnames = [desc[0] for desc in temp.description]

In [13]:
colnames

['product_id',
 'receipt_id',
 'revenue',
 'purchase_date',
 'renewal',
 'userid',
 'insider',
 'platform',
 'quantity']

In [14]:
import pandas as pd

In [15]:
trans_df = pd.DataFrame(trans,columns=colnames)

In [16]:
trans_df.head()

,product_id,receipt_id,revenue,purchase_date,renewal,userid,insider,platform,quantity
0,com.gopaktor.subscription.v1.premium.1m,1984955,31.28,2016-09-07 13:59:45+00:00,0,3893506,0,ios,0
1,com.gopaktor.subscription.v1.premium.1m,2170195,31.28,2016-09-25 03:06:11+00:00,0,3793254,0,ios,0
2,com.gopaktor.subscription.v1.premium.1m,2259995,31.28,2016-10-01 02:27:37+00:00,0,6148794,0,ios,0
3,com.gopaktor.subscription.v4.premium.1m,1980761,31.28,2016-10-01 06:39:16+00:00,0,6149220,0,android,0
4,com.gopaktor.subscription.v4.premium.1m,1980865,31.28,2016-10-01 09:07:49+00:00,0,6149432,0,android,0

In [17]:
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace = True)
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace = True)

In [18]:
trans_df1 = trans_df[['cust_id','product_id']]

In [19]:
trans_df1.head()

   cust_id                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [20]:
action_type = pd.DataFrame([1]*len(trans_df), columns=['actiontype'])

In [21]:
action_type.head()

   actiontype
0           1
1           1
2           1
3           1
4           1

In [22]:
trans_data = pd.concat([trans_df1,action_type], axis=1)

In [23]:
trans_data.head()

   cust_id                               product_id  actiontype
0  3893506  com.gopaktor.subscription.v1.premium.1m           1
1  3793254  com.gopaktor.subscription.v1.premium.1m           1
2  6148794  com.gopaktor.subscription.v1.premium.1m           1
3  6149220  com.gopaktor.subscription.v4.premium.1m           1
4  6149432  com.gopaktor.subscription.v4.premium.1m           1

In [24]:
trans_data['product_id'] = trans_data['product_id'].astype('category')

In [25]:
trans_data['product_id'] = trans_data['product_id'].cat.codes

In [26]:
trans_data.head()

   cust_id  product_id  actiontype
0  3893506           5           1
1  3793254           5           1
2  6148794           5           1
3  6149220          17           1
4  6149432          17           1

In [27]:
import findspark

In [28]:
findspark.init()

In [29]:
from pyspark import SparkContext
from pyspark.sql import SQLContext,Row
from pyspark.mllib.recommendation import ALS

In [30]:
sc = SparkContext(appName = "Recommendations_trans")

In [31]:
sqlContext = SQLContext(sc)

In [32]:
n_prod_views_rdd = sqlContext.createDataFrame(trans_data).rdd

In [33]:
n_prod_views_rdd.take(5)

[Row(cust_id=u'3893506', product_id=5, actiontype=1),
 Row(cust_id=u'3793254', product_id=5, actiontype=1),
 Row(cust_id=u'6148794', product_id=5, actiontype=1),
 Row(cust_id=u'6149220', product_id=17, actiontype=1),
 Row(cust_id=u'6149432', product_id=17, actiontype=1)]

In [34]:
training_rdd, test_rdd = n_prod_views_rdd.randomSplit([8,2], 1345)

In [35]:
training_rdd.distinct().count()

2730

In [36]:
test_for_predict_rdd = test_rdd.map(lambda x : (x[0], x[1]))

In [37]:
import math

In [38]:
seed = 49247
iterations = 10
lambdas = [0.01, 0.1]
ranks = [16]
alphas = [1.0, 2.0, 4.0, 8.0, 16.0, 32.0, 40.0, 80.0]
errors = [0 for x in range(len(alphas) * len(ranks) * len(lambdas))]
err_index = 0

In [39]:
for lambda_ in  lambdas:
    for rank in ranks:
        for alpha in alphas:
            model = ALS.trainImplicit(training_rdd, rank, seed=seed, iterations=iterations,
                                           lambda_ = lambda_, alpha = alpha)
            predictions = model.predictAll(test_for_predict_rdd).map(lambda r : ((r[0], r[1]), r[2]))
            views_and_preds = test_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
            error = math.sqrt(views_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
            errors[err_index] = error
            err_index += 1
            print('For rank {0} at alpha: {1} and lambda: {2}, the RMSE is{3}'.format(rank, alpha, lambda_, error))

For rank 16 at alpha: 1.0 and lambda: 0.01, the RMSE is0.345988359736
For rank 16 at alpha: 2.0 and lambda: 0.01, the RMSE is0.297283007761
For rank 16 at alpha: 4.0 and lambda: 0.01, the RMSE is0.278801836589
For rank 16 at alpha: 8.0 and lambda: 0.01, the RMSE is0.272689604056
For rank 16 at alpha: 16.0 and lambda: 0.01, the RMSE is0.27026468676
For rank 16 at alpha: 32.0 and lambda: 0.01, the RMSE is0.269246130699
For rank 16 at alpha: 40.0 and lambda: 0.01, the RMSE is0.269130566007
For rank 16 at alpha: 80.0 and lambda: 0.01, the RMSE is0.269883182464
For rank 16 at alpha: 1.0 and lambda: 0.1, the RMSE is0.330861405237
For rank 16 at alpha: 2.0 and lambda: 0.1, the RMSE is0.290232329624
For rank 16 at alpha: 4.0 and lambda: 0.1, the RMSE is0.274951714568
For rank 16 at alpha: 8.0 and lambda: 0.1, the RMSE is0.26990120314
For rank 16 at alpha: 16.0 and lambda: 0.1, the RMSE is0.268205924979
For rank 16 at alpha: 32.0 and lambda: 0.1, the RMSE is0.267892832847
For rank 16 at alpha: 40.0 and lambda: 0.1, the RMSE is0.267748423715
For rank 16 at alpha: 80.0 and lambda: 0.1, the RMSE is0.267620583324

In [40]:
model.recommendProducts(6253829,10)

[Rating(user=6253829, product=8, rating=0.9986319754651395),
 Rating(user=6253829, product=3, rating=0.015400064965216953),
 Rating(user=6253829, product=2, rating=0.007763522521871569),
 Rating(user=6253829, product=12, rating=0.0003304471521582142),
 Rating(user=6253829, product=0, rating=0.0001019220885331712),
 Rating(user=6253829, product=16, rating=9.328189914575846e-05),
 Rating(user=6253829, product=15, rating=4.813826425675849e-05),
 Rating(user=6253829, product=13, rating=-4.546578954151004e-05),
 Rating(user=6253829, product=5, rating=-5.733674941060807e-05),
 Rating(user=6253829, product=9, rating=-6.0045815805764846e-05)]

In [41]:
model_all = ALS.trainImplicit(n_prod_views_rdd, rank = 16, seed=49247, iterations=10, lambda_=0.1, alpha=80.0)

In [42]:
trans_rec = model_all.recommendProductsForUsers(20).collect()

In [43]:
user_rec = []

In [44]:
for x in range(len(trans_rec)):
    for y in range(17):
        v = trans_rec[x][1][y][0:3]
        d = list(v)
        user_rec.append(d)

In [45]:
len(user_rec)

52479

In [46]:
user_rec_df = pd.DataFrame(user_rec, columns=['cust_id', 'recommend_prod', 'rating'])

In [47]:
user_rec_df.head()

   cust_id  recommend_prod    rating
0  6173440               5  1.005452
1  6173440               9  0.017139
2  6173440              12  0.013123
3  6173440               8  0.000829
4  6173440              11  0.000818

In [48]:
from sqlalchemy import create_engine

In [49]:
engine = create_engine('postgresql://postgres_user:admin@client.tuple-mia.com:5432/postgres_db')

In [50]:
user_rec_df.to_sql('trans_recommendations', engine)