In [1]:
cd

/home/ubuntu

In [2]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [3]:
temp = ConnectDatabase()

In [4]:
temp.conn

In [5]:
doc['column_map']['TRANSACTION_MASTER']

{'cust_id': 'userid',
 'product_id': 'product_id',
 'quantity': 'quantity',
 'renewal': 'renewal',
 'revenue': 'revenue',
 'timestamp': 'purchase_date'}

In [6]:
query = 'SELECT "%s","%s","%s" FROM "%s"'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                                           doc['column_map']['TRANSACTION_MASTER']['product_id'],
                                           doc['column_map']['TRANSACTION_MASTER']['timestamp'],
                                           doc['table_map']['TRANSACTION_MASTER'])

In [7]:
print query

SELECT "userid","product_id","purchase_date" FROM "trans"

In [8]:
temp.conn.rollback()

In [9]:
temp.cur.execute(query)

In [10]:
col_names = [desc[0] for desc in temp.cur.description]

In [11]:
col_names

['userid', 'product_id', 'purchase_date']

In [12]:
import pandas as pd
import numpy as np

In [13]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [14]:
trans_table.head()

    userid                               product_id             purchase_date
0  3893506  com.gopaktor.subscription.v1.premium.1m 2016-09-07 13:59:45+00:00
1  3793254  com.gopaktor.subscription.v1.premium.1m 2016-09-25 03:06:11+00:00
2  6148794  com.gopaktor.subscription.v1.premium.1m 2016-10-01 02:27:37+00:00
3  6149220  com.gopaktor.subscription.v4.premium.1m 2016-10-01 06:39:16+00:00
4  6149432  com.gopaktor.subscription.v4.premium.1m 2016-10-01 09:07:49+00:00

In [15]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'},inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'},inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['timestamp']:'timestamp'},inplace=True)

In [16]:
trans_table.head()

   cust_id                               product_id                 timestamp
0  3893506  com.gopaktor.subscription.v1.premium.1m 2016-09-07 13:59:45+00:00
1  3793254  com.gopaktor.subscription.v1.premium.1m 2016-09-25 03:06:11+00:00
2  6148794  com.gopaktor.subscription.v1.premium.1m 2016-10-01 02:27:37+00:00
3  6149220  com.gopaktor.subscription.v4.premium.1m 2016-10-01 06:39:16+00:00
4  6149432  com.gopaktor.subscription.v4.premium.1m 2016-10-01 09:07:49+00:00

In [17]:
cust_prod = trans_table[['cust_id', 'product_id']]

In [18]:
grp_cust = cust_prod.groupby('cust_id').count().reset_index()

In [19]:
grp_cust.head()

   cust_id  product_id
0  2942914           1
1  3053432          10
2  3129800           1
3  3289765           1
4  3325662           2

In [20]:
grp_cust.rename(columns={'product_id':'count'}, inplace=True)

In [21]:
grp_cust.head()

   cust_id  count
0  2942914      1
1  3053432     10
2  3129800      1
3  3289765      1
4  3325662      2

In [ ]:
grp_cust.shape

In [22]:
group_data = trans_table.groupby(['cust_id', 'product_id']).size().reset_index().rename(columns={0:'count'})

In [23]:
group_data.head()

   cust_id                                    product_id  count
0  2942914       com.gopaktor.subscription.v1.premium.1m      1
1  3053432       com.gopaktor.subscription.v4.premium.1m     10
2  3129800       com.gopaktor.subscription.v1.premium.1m      1
3  3289765  com.gopaktor.subscription.v2.premium.6m.2000      1
4  3325662      com.gopaktor.subscription.v12.premium.1m      2

In [24]:
group_data.shape

(3232, 3)

In [25]:
repeated_data = group_data.query('count != 1')

In [26]:
repeated_data.head()

   cust_id                                product_id  count
1  3053432   com.gopaktor.subscription.v4.premium.1m     10
4  3325662  com.gopaktor.subscription.v12.premium.1m      2
5  3409109  com.gopaktor.subscription.v12.premium.1m      2
6  3793254   com.gopaktor.subscription.v1.premium.1m      4
7  3893506   com.gopaktor.subscription.v1.premium.1m      4

In [27]:
len(repeated_data.cust_id.unique())

796

In [28]:
len(repeated_data.product_id.unique())

9

In [29]:
repeated_data.head()

   cust_id                                product_id  count
1  3053432   com.gopaktor.subscription.v4.premium.1m     10
4  3325662  com.gopaktor.subscription.v12.premium.1m      2
5  3409109  com.gopaktor.subscription.v12.premium.1m      2
6  3793254   com.gopaktor.subscription.v1.premium.1m      4
7  3893506   com.gopaktor.subscription.v1.premium.1m      4

In [30]:
trans_table.head()

   cust_id                               product_id                 timestamp
0  3893506  com.gopaktor.subscription.v1.premium.1m 2016-09-07 13:59:45+00:00
1  3793254  com.gopaktor.subscription.v1.premium.1m 2016-09-25 03:06:11+00:00
2  6148794  com.gopaktor.subscription.v1.premium.1m 2016-10-01 02:27:37+00:00
3  6149220  com.gopaktor.subscription.v4.premium.1m 2016-10-01 06:39:16+00:00
4  6149432  com.gopaktor.subscription.v4.premium.1m 2016-10-01 09:07:49+00:00

In [31]:
xyz = pd.merge(trans_table, repeated_data, on=['cust_id', 'product_id'], how='left')

In [32]:
xyz.head()

,cust_id,product_id,timestamp,count
0,3893506,com.gopaktor.subscription.v1.premium.1m,2016-09-07 13:59:45+00:00,4.0
1,3793254,com.gopaktor.subscription.v1.premium.1m,2016-09-25 03:06:11+00:00,4.0
2,6148794,com.gopaktor.subscription.v1.premium.1m,2016-10-01 02:27:37+00:00,NaN
3,6149220,com.gopaktor.subscription.v4.premium.1m,2016-10-01 06:39:16+00:00,NaN
4,6149432,com.gopaktor.subscription.v4.premium.1m,2016-10-01 09:07:49+00:00,NaN

In [33]:
xyz.shape

(4428, 4)

In [34]:
len(xyz.cust_id.unique())

3087

In [35]:
len(xyz.product_id.unique())

18

In [51]:
def x(frame):
    frame['time'] = frame['timestamp'].max() - frame['timestamp'].min()
    return frame

In [52]:
dates = xyz.groupby(['cust_id','product_id'], group_keys=False).apply(x)

In [53]:
dates.head()

,cust_id,product_id,timestamp,count,time
0,3893506,com.gopaktor.subscription.v1.premium.1m,2016-09-07 13:59:45+00:00,4.0,91 days 01:00:00
1,3793254,com.gopaktor.subscription.v1.premium.1m,2016-09-25 03:06:11+00:00,4.0,91 days 01:00:00
2,6148794,com.gopaktor.subscription.v1.premium.1m,2016-10-01 02:27:37+00:00,NaN,0 days 00:00:00
3,6149220,com.gopaktor.subscription.v4.premium.1m,2016-10-01 06:39:16+00:00,NaN,0 days 00:00:00
4,6149432,com.gopaktor.subscription.v4.premium.1m,2016-10-01 09:07:49+00:00,NaN,0 days 00:00:00

In [54]:
dates.query('cust_id == "3053432"')

,cust_id,product_id,timestamp,count,time
3553,3053432,com.gopaktor.subscription.v4.premium.1m,2016-08-27 06:17:00+00:00,10.0,245 days 01:54:56
3554,3053432,com.gopaktor.subscription.v4.premium.1m,2016-07-27 06:17:00+00:00,10.0,245 days 01:54:56
3555,3053432,com.gopaktor.subscription.v4.premium.1m,2016-09-27 06:18:00+00:00,10.0,245 days 01:54:56
3556,3053432,com.gopaktor.subscription.v4.premium.1m,2017-01-26 06:22:00+00:00,10.0,245 days 01:54:56
4308,3053432,com.gopaktor.subscription.v4.premium.1m,2016-06-27 06:17:00+00:00,10.0,245 days 01:54:56
4309,3053432,com.gopaktor.subscription.v4.premium.1m,2016-05-26 04:27:04+00:00,10.0,245 days 01:54:56
4310,3053432,com.gopaktor.subscription.v4.premium.1m,2016-09-27 06:17:00+00:00,10.0,245 days 01:54:56
4311,3053432,com.gopaktor.subscription.v4.premium.1m,2016-10-27 06:17:00+00:00,10.0,245 days 01:54:56
4312,3053432,com.gopaktor.subscription.v4.premium.1m,2016-11-26 06:22:00+00:00,10.0,245 days 01:54:56
4313,3053432,com.gopaktor.subscription.v4.premium.1m,2016-12-26 06:22:00+00:00,10.0,245 days 01:54:56

In [55]:
cust_repur = dates

In [57]:
cust_repur.head()

,cust_id,product_id,timestamp,count,time
0,3893506,com.gopaktor.subscription.v1.premium.1m,2016-09-07 13:59:45+00:00,4.0,91 days 01:00:00
1,3793254,com.gopaktor.subscription.v1.premium.1m,2016-09-25 03:06:11+00:00,4.0,91 days 01:00:00
2,6148794,com.gopaktor.subscription.v1.premium.1m,2016-10-01 02:27:37+00:00,NaN,0 days 00:00:00
3,6149220,com.gopaktor.subscription.v4.premium.1m,2016-10-01 06:39:16+00:00,NaN,0 days 00:00:00
4,6149432,com.gopaktor.subscription.v4.premium.1m,2016-10-01 09:07:49+00:00,NaN,0 days 00:00:00

In [58]:
cust_repur.shape

(4428, 5)

In [59]:
len(cust_repur.product_id.unique())

18

In [60]:
cust_repur.reset_index(drop=True, inplace=True)

In [ ]:
type(cust_repur.timestamp[0])

In [ ]:
type(cust_repur.sum_dates[0])

In [ ]:
cust_repur.head(20)

In [ ]:
#cust_repur_drop = cust_repur.drop_duplicates().groupby(['cust_id','product_id'])

In [ ]:
cust_repur['timestamp'] = pd.to_datetime(cust_repur['timestamp'])

In [ ]:
list_of_indexes = [np.argmax(g['timestamp']) for l, g in cust_repur.groupby(['cust_id','product_id'])]

In [ ]:
cust_repur_original = cust_repur.ix[list_of_indexes]

In [ ]:
cust_repur_original.head()

In [ ]:
cust_repur_original.reset_index(drop=True,inplace=True)

In [ ]:
cust_repur_original.head()

In [ ]:
type(cust_repur_original['sum_dates'])

In [ ]:
type(cust_repur_original.sum_dates[0])

In [ ]:
cust_repur_original['new_date'] = cust_repur_original['sum_dates'] - pd.Timedelta(days=1)

In [ ]:
cust_repur_original['new_count'] = cust_repur_original['count'] - 1

In [ ]:
cust_repur_original.head()

In [ ]:
 cust_repur_original['repurchase_time'] = cust_repur_original['new_date'] / cust_repur_original['new_count']

In [ ]:
cust_repur_original.head()

In [ ]:
len(cust_repur_original.product_id.unique())

In [ ]:
cust_repur_original.product_id.unique()

In [ ]:
abc = pd.pivot_table(cust_repur_original, index=['cust_id'], columns=['product_id'], values=['new_date'], aggfunc='first')

In [ ]:
abc.shape

In [ ]:
abc.head()

In [ ]:
type(abc)

In [ ]:
mi = abc.columns

In [ ]:
mi

In [ ]:
mi.tolist()

In [ ]:
ind = pd.Index([e[1] for e in mi.tolist()])

In [ ]:
ind

In [ ]:
abc.columns = ind

In [ ]:
abc.head()

In [ ]:
products = pd.DataFrame(abc.columns)

In [ ]:
products

In [ ]:
products.rename(columns={0:'product_id'}, inplace=True)

In [ ]:
products

In [ ]:
art = abc[products.product_id[products.index]].sum() / abc[products.product_id[products.index]].count()

In [ ]:
type(art)

In [ ]:
art = art.to_frame()

In [ ]:
art

In [ ]:
art.reset_index(inplace=True)

In [ ]:
art

In [ ]:
art.rename(columns={'index':'product_id'}, inplace=True)

In [ ]:
art.rename(columns={0:'average_repurchae_time'}, inplace=True)

In [ ]:
art

In [ ]:
cust_repur_original.head()

In [ ]:
del cust_repur_original['sum']

In [ ]:
del cust_repur_original['new_date']

In [ ]:
del cust_repur_original['new_count']

In [ ]:
cust_repur_original.head()