In [1]:
cd

/home/ubuntu

In [2]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [3]:
temp =ConnectDatabase()

In [4]:
temp.conn

In [5]:
query = 'SELECT %s,%s FROM %s'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                            doc['column_map']['TRANSACTION_MASTER']['product_id'],
                            doc['table_map']['TRANSACTION_MASTER'])

In [6]:
print query

SELECT userid,product_id FROM trans

In [7]:
temp.cur.execute(query)

In [8]:
col_names = [desc[0] for desc in temp.cur.description]

In [9]:
import pandas as pd

In [10]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [11]:
trans_table.head()

    userid                               product_id
0  3893506  com.gopaktor.subscription.v1.premium.1m
1  3793254  com.gopaktor.subscription.v1.premium.1m
2  6148794  com.gopaktor.subscription.v1.premium.1m
3  6149220  com.gopaktor.subscription.v4.premium.1m
4  6149432  com.gopaktor.subscription.v4.premium.1m

In [12]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [13]:
unique_cust = pd.DataFrame(trans_table.cust_id.unique(), columns=['cust_id'])

In [14]:
unique_cust.shape

(3087, 1)

In [15]:
unique_cust.head()

   cust_id
0  3893506
1  3793254
2  6148794
3  6149220
4  6149432

In [16]:
unique_cust['cust_id'] = unique_cust['cust_id'].astype('category')

In [17]:
unique_cust['cat_code'] = unique_cust['cust_id'].cat.codes

In [18]:
unique_cust.head()

   cust_id  cat_code
0  3893506         7
1  3793254         6
2  6148794        10
3  6149220        15
4  6149432        21

In [19]:
customer_map = unique_cust.set_index('cat_code')['cust_id'].to_dict()

In [20]:
unique_product = pd.DataFrame(trans_table.product_id.unique(), columns=['product_id'])

In [21]:
unique_product.head()

                                product_id
0  com.gopaktor.subscription.v1.premium.1m
1  com.gopaktor.subscription.v4.premium.1m
2  com.gopaktor.subscription.v3.premium.6m
3              com.gopaktor.credit.v2.1000
4  com.gopaktor.subscription.v3.premium.3m

In [22]:
unique_product.shape

(18, 1)

In [23]:
unique_product['product_id'] = unique_product['product_id'].astype('category')

In [24]:
unique_product['cat_code'] = unique_product['product_id'].cat.codes

In [25]:
unique_product.head()

                                product_id  cat_code
0  com.gopaktor.subscription.v1.premium.1m         5
1  com.gopaktor.subscription.v4.premium.1m        17
2  com.gopaktor.subscription.v3.premium.6m        16
3              com.gopaktor.credit.v2.1000         0
4  com.gopaktor.subscription.v3.premium.3m        15

In [26]:
product_map = unique_product.set_index('cat_code')['product_id'].to_dict()