In [1]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [2]:
temp =ConnectDatabase()

In [3]:
temp.conn

In [5]:
query = 'SELECT %s,%s FROM %s'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                            doc['column_map']['TRANSACTION_MASTER']['product_id'],
                            doc['table_map']['TRANSACTION_MASTER'])

In [6]:
print query

SELECT id,prod_id FROM trans

In [7]:
temp.cur.execute(query)

In [8]:
col_names = [desc[0] for desc in temp.cur.description]

In [9]:
import pandas as pd

In [10]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [11]:
trans_table.head()

           id                   prod_id
0  2811111819     9908 - 7655 - 80 - OZ
1  2811111819    9904 - 33170 - 16 - OZ
2  2811111819    3302 - 4194 - 8.7 - OZ
3  2811111819  410 - 18529 - 11.64 - OZ
4  2811111819     3319 - 10241 - 9 - OZ

In [12]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [17]:
unique_cust = pd.DataFrame(trans_table.cust_id.unique(), columns=['cust_id'])

In [14]:
unique_cust.shape

(62308, 1)

In [18]:
unique_cust.head()

      cust_id
0  2811111819
1  2811313441
2  2811320407
3  2811522140
4  2811533009

In [19]:
unique_cust['cust_id'] = unique_cust['cust_id'].astype('category')

In [20]:
unique_cust['cat_code'] = unique_cust['cust_id'].cat.codes

In [21]:
unique_cust.head()

      cust_id  cat_code
0  2811111819     16261
1  2811313441     16262
2  2811320407     16263
3  2811522140     16264
4  2811533009     16265

In [22]:
customer_map = unique_cust.set_index('cat_code')['cust_id'].to_dict()

In [24]:
customer_map[16261]

'2811111819'

In [25]:
unique_product = pd.DataFrame(trans_table.product_id.unique(), columns=['product_id'])

In [26]:
unique_product.head()

                 product_id
0     9908 - 7655 - 80 - OZ
1    9904 - 33170 - 16 - OZ
2    3302 - 4194 - 8.7 - OZ
3  410 - 18529 - 11.64 - OZ
4     3319 - 10241 - 9 - OZ

In [27]:
unique_product.shape

(180546, 1)

In [28]:
unique_product['product_id'] = unique_product['product_id'].astype('category')

In [29]:
unique_product['cat_code'] = unique_product['product_id'].cat.codes

In [30]:
unique_product.head()

                 product_id  cat_code
0     9908 - 7655 - 80 - OZ    179930
1    9904 - 33170 - 16 - OZ    178891
2    3302 - 4194 - 8.7 - OZ     48479
3  410 - 18529 - 11.64 - OZ     67548
4     3319 - 10241 - 9 - OZ     55070

In [31]:
product_map = unique_product.set_index('cat_code')['product_id'].to_dict()

In [32]:
product_map[179930]

'9908 - 7655 - 80 - OZ'