In [ ]:
#cd

In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SQLContext,Row
from pyspark.mllib.recommendation import ALS
import math

In [4]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [5]:
sc = SparkContext(appName = 'trans_product')

In [6]:
sc

In [7]:
sqlContext = SQLContext(sc)

In [8]:
temp = ConnectDatabase()

In [9]:
temp.conn

In [10]:
query = 'SELECT %s,%s FROM %s'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                                doc['column_map']['TRANSACTION_MASTER']['product_id'],
                                doc['table_map']['TRANSACTION_MASTER'])

In [11]:
print query

SELECT id,prod_id FROM trans

In [12]:
temp.cur.execute(query)

In [13]:
import pandas as pd

In [14]:
col_names = [desc[0] for desc in temp.cur.description]

In [15]:
col_names

['id', 'prod_id']

In [16]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [17]:
trans_table.head()

           id                   prod_id
0  2255653295    5824 - 17040 - 18 - OZ
1  2255653295   416 - 56124 - 1.85 - OZ
2  2255653295     2633 - 16048 - 4 - RL
3  2255653295     2613 - 8583 - 27 - CT
4  2255653295  3611 - 6303 - 101.4 - OZ

In [18]:
trans_table.shape

(71932603, 2)

In [19]:
trans_table.loc[:, 'action_type'] = 1

In [20]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [21]:
trans_table.head()

      cust_id                product_id  action_type
0  2255653295    5824 - 17040 - 18 - OZ            1
1  2255653295   416 - 56124 - 1.85 - OZ            1
2  2255653295     2633 - 16048 - 4 - RL            1
3  2255653295     2613 - 8583 - 27 - CT            1
4  2255653295  3611 - 6303 - 101.4 - OZ            1

In [22]:
trans_table['cust_id'] = trans_table['cust_id'].astype('category')

In [23]:
trans_table['cust_id'] = trans_table['cust_id'].cat.codes

In [24]:
trans_table['product_id'] = trans_table['product_id'].astype('category')

In [25]:
trans_table['product_id'] = trans_table['product_id'].cat.codes

In [26]:
trans_table.head()

   cust_id  product_id  action_type
0     9594      101359            1
1     9594       73967            1
2     9594       28570            1
3     9594       24249            1
4     9594       59930            1

In [27]:
cust_prod_trans = trans_table[['cust_id','product_id']]

In [28]:
grp_cust = cust_prod_trans.groupby('cust_id').count()

In [29]:
grp_cust.head()

         product_id
cust_id
0               349
1               617
2              1644
3              1235
4              3065

In [30]:
grp_cust= grp_cust.reset_index()

In [31]:
grp_cust.head()

   cust_id  product_id
0        0         349
1        1         617
2        2        1644
3        3        1235
4        4        3065

In [32]:
grp_cust.rename(columns = {'product_id':'value'}, inplace=True)

In [33]:
grp_cust_count = grp_cust.groupby(['value']).count()

In [34]:
grp_cust_count.head()

       cust_id
value
1            7
2            6
3            1
4            2
5            4

In [35]:
grp_cust_count = grp_cust_count.reset_index()

In [36]:
grp_cust_count.head()

   value  cust_id
0      1        7
1      2        6
2      3        1
3      4        2
4      5        4

In [37]:
grp_cust_count.tail()

        value  cust_id
3810   492678        1
3811   525849        1
3812   605935        1
3813  1414122        1
3814  1790424        1

In [38]:
grp_cust_count.rename(columns = {'value':'no_of_products'}, inplace=True)
grp_cust_count.rename(columns = {'cust_id':'customer_count'}, inplace=True)

In [39]:
grp_cust_count.head()

   no_of_products  customer_count
0               1               7
1               2               6
2               3               1
3               4               2
4               5               4

In [40]:
grp_cust_count = grp_cust_count.sort_index(ascending = False)

In [41]:
grp_cust_count.head()

      no_of_products  customer_count
3814         1790424               1
3813         1414122               1
3812          605935               1
3811          525849               1
3810          492678               1

In [42]:
grp_cust_count['customer_perc'] = grp_cust_count['customer_count']/grp_cust_count['customer_count'].sum() * 100

In [43]:
grp_cust_count['aggregated_per'] = grp_cust_count.customer_perc.cumsum()

In [44]:
grp_cust_count.head()

      no_of_products  customer_count  customer_perc  aggregated_per
3814         1790424               1       0.001605        0.001605
3813         1414122               1       0.001605        0.003210
3812          605935               1       0.001605        0.004815
3811          525849               1       0.001605        0.006420
3810          492678               1       0.001605        0.008025

In [45]:
grp_cust_count.tail()

   no_of_products  customer_count  customer_perc  aggregated_per
4               5               4       0.006420       99.974321
3               4               2       0.003210       99.977531
2               3               1       0.001605       99.979136
1               2               6       0.009630       99.988765
0               1               7       0.011235      100.000000

In [47]:
cust_df = grp_cust_count

In [48]:
threshold_df_cust = cust_df.loc[cust_df['aggregated_per'] > 85]

In [49]:
threshold_df_cust.head()

     no_of_products  customer_count  customer_perc  aggregated_per
284             285              50       0.080247       85.075753
283             284              43       0.069012       85.144765
282             283              38       0.060987       85.205752
281             282              37       0.059382       85.265134
280             281              41       0.065802       85.330937

In [50]:
threshold_df_cust.reset_index(drop=True, inplace=True)

In [51]:
threshold_value_cust = threshold_df_cust.no_of_products.loc[threshold_df_cust['aggregated_per'] > 90]

In [52]:
threshold_value_cust = threshold_value_cust.reset_index(drop=True)

In [53]:
threshold_value_cust[0]

205

In [54]:
cust = grp_cust.loc[grp_cust['value'] > threshold_value_cust[0]]

In [55]:
cust.head()

   cust_id  value
0        0    349
1        1    617
2        2   1644
3        3   1235
4        4   3065

In [56]:
del cust['value']

In [57]:
cust = cust.reset_index(drop=True)

In [58]:
cust.shape

(56074, 1)

In [59]:
cust.head()

   cust_id
0        0
1        1
2        2
3        3
4        4

In [60]:
len(trans_table.cust_id.unique())

62308

In [61]:
grp_prod = cust_prod_trans.groupby(['product_id']).count()

In [62]:
grp_prod.head()

            cust_id
product_id
0           1008713
1            157114
2                 5
3                10
4                25

In [63]:
grp_prod = grp_prod.reset_index()

In [64]:
grp_prod.rename(columns={'cust_id':'value'}, inplace=True)

In [65]:
grp_prod_count = grp_prod.groupby(['value']).count()

In [66]:
grp_prod_count = grp_prod_count.reset_index()

In [67]:
grp_prod_count.head()

   value  product_id
0      1       21523
1      2       11994
2      3        8303
3      4        6542
4      5        5287

In [68]:
grp_prod_count.rename(columns = {'value':'no_of_users'}, inplace=True)
grp_prod_count.rename(columns = {'product_id':'product_count'}, inplace=True)

In [69]:
grp_prod_count = grp_prod_count.sort_index(ascending = False)

In [70]:
grp_prod_count.head()

      no_of_users  product_count
6335      1462258              1
6334      1089874              1
6333      1008713              1
6332       243996              1
6331       157114              1

In [71]:
grp_prod_count['product_per'] = grp_prod_count['product_count']/grp_prod_count['product_count'].sum() * 100

In [72]:
grp_prod_count['aggregated_per'] = grp_prod_count.product_per.cumsum()

In [73]:
grp_prod_count.head()

      no_of_users  product_count  product_per  aggregated_per
6335      1462258              1     0.000554        0.000554
6334      1089874              1     0.000554        0.001108
6333      1008713              1     0.000554        0.001662
6332       243996              1     0.000554        0.002216
6331       157114              1     0.000554        0.002769

In [74]:
grp_prod_count.tail()

   no_of_users  product_count  product_per  aggregated_per
4            5           5287     2.928340       73.213475
3            4           6542     3.623453       76.836928
2            3           8303     4.598828       81.435756
1            2          11994     6.643182       88.078938
0            1          21523    11.921062      100.000000

In [75]:
product_df = grp_prod_count

In [76]:
product_df = product_df.reset_index(drop=True)

In [77]:
threshold_df_prod = product_df.loc[product_df['aggregated_per'] > 85]

In [78]:
threshold_df_prod = threshold_df_prod.reset_index(drop=True)

In [79]:
threshold_value_prod = threshold_df_prod.no_of_users.loc[threshold_df_prod['aggregated_per'] > 90]

In [80]:
threshold_value_prod = threshold_value_prod.reset_index(drop=True)

In [81]:
threshold_value_prod[0]

1

In [82]:
prod = grp_prod.loc[grp_prod['value'] > threshold_value_prod[0]]

In [83]:
prod.head()

   product_id    value
0           0  1008713
1           1   157114
2           2        5
3           3       10
4           4       25

In [84]:
del prod['value']

In [85]:
prod = prod.reset_index(drop=True)

In [86]:
prod.shape

(159023, 1)

In [87]:
final_data = trans_table.merge(cust,on='cust_id').merge(prod,on='product_id')

In [88]:
final_data.shape

(71164420, 3)

In [89]:
trans_table.shape

(71932603, 3)

In [90]:
final_data.head()

   cust_id  product_id  action_type
0     9594      101359            1
1     9594      101359            1
2     9594      101359            1
3     9594      101359            1
4     9594      101359            1

In [ ]:
dir()

In [91]:
del [prod, product_df, col_names, cust, cust_prod_trans, cust_df, desc, grp_prod, grp_prod_count,
     grp_cust, grp_cust_count, threshold_df_prod, threshold_df_cust, threshold_value_cust, threshold_value_prod]

In [92]:
final_data.head()

   cust_id  product_id  action_type
0     9594      101359            1
1     9594      101359            1
2     9594      101359            1
3     9594      101359            1
4     9594      101359            1

In [96]:
n_prod_views_rdd = sqlContext.createDataFrame(final_data).rdd

In [ ]:
n_prod_views_rdd.cache()

In [ ]:
training_rdd, test_rdd = n_prod_views_rdd.randomSplit([8,2], 1345)

In [ ]:
training_rdd.cache(), test_rdd.cache()

In [ ]:
test_for_predict_rdd = test_rdd.map(lambda x : (x[0], x[1]))

In [ ]:
seed = 49247
iterations = 10
lambdas = [0.01, 0.1]
ranks = [16]
alphas = [1.0, 2.0, 40.0, 80.0]
errors = [0 for x in range(len(alphas) * len(ranks) * len(lambdas))]
err_index = 0

In [ ]:
dict_error = []
for lambda_ in  lambdas:
    for rank in ranks:
        for alpha in alphas:
            model = ALS.trainImplicit(training_rdd, rank, seed=seed, iterations=iterations,
                                           lambda_ = lambda_, alpha = alpha)
            predictions = model.predictAll(test_for_predict_rdd).map(lambda r : ((r[0], r[1]), r[2]))
            views_and_preds = test_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
            error = math.sqrt(views_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
            errors[err_index] = error
            err_index += 1
            print('For rank {0} at alpha: {1} and lambda: {2}, the RMSE is{3}'.format(rank, alpha, lambda_, error))
            dict_error.append({
                'alpha': alpha,
                'lambda_': lambda_,
                'error': error
            })

In [ ]:
min_error = min(errors)
final_lambda_ = None
final_alpha = None
for item in dict_error:
    if item['error'] == min_error:
        final_lambda_ = item['lambda_']
        final_alpha = item['alpha']

In [ ]:
final_model = ALS.trainImplicit(n_prod_views_rdd, rank=ranks[0], seed=49247, iterations=10,
                                lambda_=final_lambda_, alpha=final_alpha)

In [ ]:
no_of_products_recommended = 20

In [ ]:
user_rec = final_model.recommendProductsForUsers(no_of_products_recommended).collect()

In [ ]:
user_rec1 = []

In [ ]:
for x in range(len(user_rec)):
    for y in range(len(user_rec[0][1])):
        v = user_rec[x][1][y][0:3]
        d = list(v)
        user_rec1.append(d)

In [ ]:
user_rec_df = pd.DataFrame(user_rec1, columns=['cust_id', 'recommended_products', 'rating'])

In [ ]:
user_rec_df.head()

In [ ]:
#from sqlalchemy import create_engine

In [ ]:
#engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')

In [ ]:
#user_rec_df.to_sql('trans_category_recommendations', engine)