In [1]:
from DemoServerDB import ConnectDatabase

In [2]:
temp = ConnectDatabase()

In [3]:
temp.conn

In [4]:
query = 'SELECT * from master_table_history'

In [5]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import timedelta
from __future__ import division

In [6]:
temp.cur.execute(query)

In [7]:
col_names = [desc[0] for desc in temp.cur.description]

In [8]:
master_table_his = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [9]:
master_table_his.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,4764,6151721,None,None,None,None,None,None,High,0,None,2017-04-04 22:00:01.209927
1,8,6236121,None,None,None,None,None,None,Low,0,None,2017-04-04 22:00:01.209927
2,6035,6330211,None,None,None,None,None,None,Low,5,None,2017-04-04 22:00:01.209927
3,3767,6348036,None,None,None,None,None,None,Low,0,None,2017-04-04 22:00:01.209927
4,4098,6148833,None,None,None,None,None,None,Low,4,None,2017-04-04 22:00:01.209927

In [10]:
master_table_his.tail()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
14839,5890,6223369,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
14840,5891,6241736,1,Very Low,0,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
14841,5893,6237536,1,Very Low,0,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
14842,5894,6387756,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
14843,5895,6242650,1,Very Low,0,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522

In [11]:
master_table_his.shape

(14844, 12)

In [12]:
master_table_his.custom_date_identifier.unique()

array(['2017-04-04T22:00:01.209927000', '2017-04-05T22:00:01.278206000',
       '2017-04-06T22:00:01.169862000', '2017-04-07T22:00:01.551212000',
       '2017-04-10T22:00:01.314963000', '2017-04-14T22:00:01.699593000',
       '2017-04-16T22:00:01.661522000'], dtype='datetime64[ns]')

In [13]:
list_of_indexes_new = [np.argmax(g['custom_date_identifier']) for l, g in master_table_his.groupby(['cust_id'])]

In [14]:
new_data = master_table_his.ix[list_of_indexes_new]

In [15]:
new_data.reset_index(drop=True, inplace=True)

In [16]:
new_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2326,2942914,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
1,5384,3053432,None,None,None,31.2803632956474,Very High,97.013912453341,None,None,None,2017-04-16 22:00:01.661522
2,4914,3129800,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
3,1306,3289765,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
4,1317,3325662,None,None,None,31.2829066014704,Very High,98.014930437732,None,None,None,2017-04-16 22:00:01.661522

In [17]:
new_data.custom_date_identifier.unique()

array(['2017-04-16T22:00:01.661522000', '2017-04-04T22:00:01.209927000',
       '2017-04-10T22:00:01.314963000'], dtype='datetime64[ns]')

In [18]:
new_data.shape

(7073, 12)

In [19]:
new_data['custom_date_identifier'] = master_table_his['custom_date_identifier'].max()

In [20]:
new_data.custom_date_identifier.unique()

array(['2017-04-16T22:00:01.661522000'], dtype='datetime64[ns]')

In [21]:
xyz = master_table_his.groupby(['cust_id', 'custom_date_identifier']).size().reset_index()

In [22]:
import datetime
def x(frame):
    if len(frame.custom_date_identifier) > 1:
        if frame.custom_date_identifier.iloc[-1] >= master_table_his['custom_date_identifier'].max():
            frame['time'] = frame.custom_date_identifier.iloc[-2]
        else:
            frame['time'] = frame.custom_date_identifier.iloc[-1]
    else:
        if not frame.custom_date_identifier.iloc[-1] >= master_table_his['custom_date_identifier'].max():
            frame['time'] = frame.custom_date_identifier.iloc[-1]
    return frame

In [23]:
dates = xyz.groupby('cust_id').apply(x)

In [24]:
dates.head()

   cust_id     custom_date_identifier  0                       time
0  2942914 2017-04-04 22:00:01.209927  1 2017-04-14 22:00:01.699593
1  2942914 2017-04-14 22:00:01.699593  1 2017-04-14 22:00:01.699593
2  2942914 2017-04-16 22:00:01.661522  1 2017-04-14 22:00:01.699593
3  3053432 2017-04-04 22:00:01.209927  1 2017-04-04 22:00:01.209927
4  3053432 2017-04-16 22:00:01.661522  1 2017-04-04 22:00:01.209927

In [25]:
dates.time.unique()

array(['2017-04-14T22:00:01.699593000', '2017-04-04T22:00:01.209927000',
       '2017-04-10T22:00:01.314963000', '2017-04-06T22:00:01.169862000',
       '2017-04-05T22:00:01.278206000', '2017-04-07T22:00:01.551212000'], dtype='datetime64[ns]')

In [26]:
dates.shape

(14844, 4)

In [27]:
del dates['custom_date_identifier']

In [28]:
dates = dates.drop_duplicates('cust_id')

In [29]:
dates.rename(columns={'time':'custom_date_identifier'}, inplace=True)

In [30]:
del dates[0]

In [31]:
old_data = pd.merge(master_table_his, dates, on=['cust_id', 'custom_date_identifier'], how='right')

In [32]:
old_data.custom_date_identifier.unique()

array(['2017-04-04T22:00:01.209927000', '2017-04-05T22:00:01.278206000',
       '2017-04-06T22:00:01.169862000', '2017-04-07T22:00:01.551212000',
       '2017-04-10T22:00:01.314963000', '2017-04-14T22:00:01.699593000'], dtype='datetime64[ns]')

In [33]:
old_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,4764,6151721,None,None,None,None,None,None,High,0,None,2017-04-04 22:00:01.209927
1,8,6236121,None,None,None,None,None,None,Low,0,None,2017-04-04 22:00:01.209927
2,6035,6330211,None,None,None,None,None,None,Low,5,None,2017-04-04 22:00:01.209927
3,3767,6348036,None,None,None,None,None,None,Low,0,None,2017-04-04 22:00:01.209927
4,4098,6148833,None,None,None,None,None,None,Low,4,None,2017-04-04 22:00:01.209927

In [34]:
old_data.shape

(7073, 12)

In [35]:
master_table_his.shape

(14844, 12)

In [36]:
old_data['custom_date_identifier'] = master_table_his['custom_date_identifier'].max() - pd.Timedelta(days = 1)

In [37]:
old_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,4764,6151721,None,None,None,None,None,None,High,0,None,2017-04-15 22:00:01.661522
1,8,6236121,None,None,None,None,None,None,Low,0,None,2017-04-15 22:00:01.661522
2,6035,6330211,None,None,None,None,None,None,Low,5,None,2017-04-15 22:00:01.661522
3,3767,6348036,None,None,None,None,None,None,Low,0,None,2017-04-15 22:00:01.661522
4,4098,6148833,None,None,None,None,None,None,Low,4,None,2017-04-15 22:00:01.661522

In [38]:
new_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2326,2942914,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
1,5384,3053432,None,None,None,31.2803632956474,Very High,97.013912453341,None,None,None,2017-04-16 22:00:01.661522
2,4914,3129800,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
3,1306,3289765,None,None,None,0,Very Low,0,None,None,None,2017-04-16 22:00:01.661522
4,1317,3325662,None,None,None,31.2829066014704,Very High,98.014930437732,None,None,None,2017-04-16 22:00:01.661522

In [39]:
cltv_value_old = old_data[['cltv', 'custom_date_identifier']]

In [40]:
old_cltv_sum = cltv_value_old.groupby('custom_date_identifier').sum().reset_index()

In [41]:
old_cltv_count = cltv_value_old.groupby('custom_date_identifier').count().reset_index()

In [42]:
old_cltv_avrg = old_cltv_sum.merge(old_cltv_count, on='custom_date_identifier')

In [43]:
old_cltv_avrg.cltv_x = old_cltv_avrg.cltv_x.astype('float64', raise_on_error = False)
old_cltv_avrg.cltv_y = old_cltv_avrg.cltv_y.astype('float64', raise_on_error = False)

In [44]:
old_cltv_avrg['average_cltv'] = old_cltv_avrg.cltv_x / old_cltv_avrg.cltv_y.replace({ 0 : np.nan })

In [45]:
old_cltv_avrg

      custom_date_identifier        cltv_x  cltv_y  average_cltv
0 2017-04-15 22:00:01.661522  26803.292265  3087.0      8.682634

In [46]:
cltv_value_new = new_data[['cltv', 'custom_date_identifier']]

In [47]:
new_cltv_sum = cltv_value_new.groupby('custom_date_identifier').sum().reset_index()

In [48]:
new_cltv_count = cltv_value_new.groupby('custom_date_identifier').count().reset_index()

In [49]:
new_cltv_avrg = new_cltv_sum.merge(new_cltv_count, on='custom_date_identifier')

In [50]:
new_cltv_avrg.cltv_x = new_cltv_avrg.cltv_x.astype('float64', raise_on_error = False)
new_cltv_avrg.cltv_y = new_cltv_avrg.cltv_y.astype('float64', raise_on_error = False)

In [51]:
new_cltv_avrg['average_cltv'] = new_cltv_avrg.cltv_x / new_cltv_avrg.cltv_y.replace({ 0 : np.nan })

In [52]:
new_cltv_avrg

      custom_date_identifier        cltv_x  cltv_y  average_cltv
0 2017-04-16 22:00:01.661522  10710.993693  5895.0      1.816962

In [53]:
Nutshell_1 = "Average CLTV for yesterday was {value1}$ and {value2} by {value3}$ over previous day"\
    .format(value1 = int(round(new_cltv_avrg.average_cltv.iloc[-1])), value2 = "increased" if int(round(new_cltv_avrg.average_cltv.sum())) >= int(round(old_cltv_avrg.average_cltv.sum())) else "decreased", value3 = abs((int(round(new_cltv_avrg.average_cltv.iloc[-1])) - int(round(old_cltv_avrg.average_cltv.iloc[-1])))))

In [54]:
Nutshell_1

'Average CLTV for yesterday was 2$ and decreased by 7$ over previous day'

In [55]:
counter_1 = 0
counter_2 = 0
for x in old_data.cust_id:
    if str(old_data.loc[old_data['cust_id'] == x, 'cltv']) > str(new_data.loc[old_data['cust_id'] == x, 'cltv']):
        counter_1 = counter_1 + 1
    elif str(old_data.loc[old_data['cust_id'] == x, 'cltv']) < str(new_data.loc[old_data['cust_id'] == x, 'cltv']):
        counter_2 = counter_2 + 1
print counter_1
print counter_2

4018
780

In [56]:
len(old_data.cust_id)

7073

In [57]:
Nutshell_2 = "{value1} CUSTOMERS saw CLTV DECREASED yesterday which is {value2}% of the total base"\
    .format(value1 = counter_1, value2 = int(round((counter_1 / len(new_data)) *100)))

In [58]:
Nutshell_2

'4018 CUSTOMERS saw CLTV DECREASED yesterday which is 57% of the total base'

In [59]:
Nutshell_3 = "{value1} CUSTOMERS saw CLTV INCREASED yesterday which is {value2}% of the total base"\
    .format(value1 = counter_2, value2 = int(round((counter_2 / len(new_data)) *100)))

In [60]:
Nutshell_3

'780 CUSTOMERS saw CLTV INCREASED yesterday which is 11% of the total base'

In [61]:
churned_old = old_data[['churn', 'custom_date_identifier']]

In [62]:
old_churn_count = churned_old.groupby(['custom_date_identifier', 'churn']).size().reset_index()

In [63]:
old_churn_count

      custom_date_identifier churn     0
0 2017-04-15 22:00:01.661522     0  3087

In [64]:
len(old_data.query('churn == 1'))

0

In [65]:
old_churn_count.rename(columns={0:'counter'}, inplace=True)

In [66]:
old_churn_count

      custom_date_identifier churn  counter
0 2017-04-15 22:00:01.661522     0     3087

In [67]:
churned_new = new_data[['custom_date_identifier','churn',]]

In [68]:
new_churn_count = churned_new.groupby(['custom_date_identifier', 'churn']).size().reset_index()

In [69]:
new_churn_count.rename(columns={0:'counter'}, inplace=True)

In [70]:
new_churn_count

      custom_date_identifier churn  counter
0 2017-04-16 22:00:01.661522     0      915
1 2017-04-16 22:00:01.661522     1     4152

In [71]:
len(new_churn_count.query('churn == 1'))

1

In [197]:
#int(new_churn_count.loc[new_churn_count['churn'] == 1, 'counter'].get_values() - old_churn_count.loc[old_churn_count['churn'] == 0, 'counter'].get_values())

1065

In [73]:
Nutshell_4 = "{value1} CUSTOMERS CHURNED yesterday which is {value2}% {value3} compared to previous day"\
    .format(value1 = 0 if len(new_churn_count.query('churn == 1')) == 0 else int(new_churn_count.loc[new_churn_count['churn'] == 1, 'counter'].get_values() - old_churn_count.loc[old_churn_count['churn'] == 0, 'counter'].get_values()), \
            value2 = 0 if len(new_churn_count.query('churn == 1')) == 0 else int(round(int(new_churn_count.loc[new_churn_count['churn'] == 1, 'counter'].get_values() - old_churn_count.loc[old_churn_count['churn'] == 0, 'counter'].get_values())/ len(new_data.query('churn == 1')) * 100)), \
            value3 = "High" if len(old_data.query('churn == 1')) <= len(new_data.query('churn == 1')) else "Low")

In [74]:
Nutshell_4

'1065 CUSTOMERS CHURNED yesterday which is 26% High compared to previous day'

In [75]:
value_cust_old = old_data[['cust_id', 'value', 'custom_date_identifier']]

In [76]:
value_cust_old.head()

   cust_id value     custom_date_identifier
0  6151721  None 2017-04-15 22:00:01.661522
1  6236121  None 2017-04-15 22:00:01.661522
2  6330211  None 2017-04-15 22:00:01.661522
3  6348036  None 2017-04-15 22:00:01.661522
4  6148833  None 2017-04-15 22:00:01.661522

In [77]:
cust_id_low = value_cust_old.loc[value_cust_old['value'] == "Low", 'cust_id'].reset_index(drop = True)

In [78]:
cust_id_low = cust_id_low.to_frame()

In [79]:
cust_id_low.head()

Empty DataFrame
Columns: [cust_id]
Index: []

In [80]:
cust_id_low.shape

(0, 1)

In [81]:
value_cust_new = new_data[['cust_id', 'value', 'custom_date_identifier']]

In [82]:
value_cust_new_changed = pd.merge(value_cust_new, cust_id_low, on='cust_id', how='right')

In [83]:
value_cust_new_changed.shape

(0, 3)

In [84]:
value_cust_new_changed.head()

Empty DataFrame
Columns: [cust_id, value, custom_date_identifier]
Index: []

In [85]:
value_changed = value_cust_new_changed.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [86]:
value_changed

Empty DataFrame
Columns: [custom_date_identifier, value, 0]
Index: []

In [87]:
value_changed.rename(columns={0:'counter'}, inplace=True)

In [88]:
value_changed

Empty DataFrame
Columns: [custom_date_identifier, value, counter]
Index: []

*** CUSTOMERS saw Value Segment changed to Low to High yesterday which is X% of the total base

In [89]:
high_count = value_changed.loc[value_changed['value'] == "High", 'counter'].get_values()
very_high_count = value_changed.loc[value_changed['value'] == "Very High", 'counter'].get_values()

In [90]:
#int(very_high_count)

In [91]:
#int(high_count)

In [92]:
Nutshell_5 = "{value1} CUSTOMERS saw Value Segment changed to Low to High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(high_count) == 0 else int(high_count), \
            value2 = int(round((0 if len(high_count) == 0 else int(high_count) / len(old_data.query('value == "Low"')) * 100))))

In [93]:
Nutshell_5

'0 CUSTOMERS saw Value Segment changed to Low to High yesterday which is 0% of the total base'

In [94]:
Nutshell_6 = "{value1} CUSTOMERS saw Value Segment changed to Low to Very High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_high_count) == 0 else int(very_high_count), \
            value2 = int(round((0 if len(very_high_count) == 0 else int(very_high_count) / len(old_data.query('value == "Low"')) * 100))))

In [95]:
Nutshell_6

'0 CUSTOMERS saw Value Segment changed to Low to Very High yesterday which is 0% of the total base'

In [96]:
cust_id_very_low = value_cust_old.loc[value_cust_old['value'] == "Very Low", 'cust_id'].reset_index(drop = True)

In [97]:
cust_id_very_low = cust_id_very_low.to_frame()

In [98]:
value_cust_new_changed_1 = pd.merge(value_cust_new, cust_id_very_low, on='cust_id', how='right')

In [99]:
value_changed_1 = value_cust_new_changed_1.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [100]:
value_changed_1

      custom_date_identifier      value     0
0 2017-04-16 22:00:01.661522       High    45
1 2017-04-16 22:00:01.661522  Very High    43
2 2017-04-16 22:00:01.661522   Very Low  2162

In [101]:
value_changed_1.rename(columns={0:'counter'}, inplace=True)

In [102]:
value_changed_1

      custom_date_identifier      value  counter
0 2017-04-16 22:00:01.661522       High       45
1 2017-04-16 22:00:01.661522  Very High       43
2 2017-04-16 22:00:01.661522   Very Low     2162

In [103]:
very_high_count_1 = value_changed_1.loc[value_changed_1['value'] == "Very High", 'counter'].get_values()

In [104]:
#int(very_high_count_1)

In [105]:
Nutshell_7 = "{value1} CUSTOMERS saw Value Segment changed to Very Low to Very High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_high_count_1) == 0 else int(very_high_count_1), \
            value2 = int(round((0 if len(very_high_count_1) == 0 else int(very_high_count_1) / len(old_data.query('value == "Very Low"')) * 100))))

In [106]:
Nutshell_7

'43 CUSTOMERS saw Value Segment changed to Very Low to Very High yesterday which is 2% of the total base'

In [107]:
cust_id_high = value_cust_old.loc[value_cust_old['value'] == "High", 'cust_id'].reset_index(drop = True)

In [108]:
cust_id_high = cust_id_high.to_frame()

In [109]:
value_cust_new_changed_2 = pd.merge(value_cust_new, cust_id_high, on='cust_id', how='right')

In [110]:
value_changed_2 = value_cust_new_changed_2.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [111]:
value_changed_2.rename(columns={0:'counter'}, inplace=True)

In [112]:
value_changed_2

      custom_date_identifier      value  counter
0 2017-04-16 22:00:01.661522       High      272
1 2017-04-16 22:00:01.661522  Very High      167
2 2017-04-16 22:00:01.661522   Very Low       73

In [113]:
low_count_1 = value_changed_2.loc[value_changed_2['value'] == "Low", 'counter'].get_values()

In [114]:
len(low_count_1)

0

In [115]:
Nutshell_8 = "{value1} CUSTOMERS saw Value Segment changed to High to Low yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(low_count_1) == 0 else int(low_count_1), value2 = int(round((0 if len(low_count_1) == 0 else int(low_count_1) / len(old_data.query('value == "High"')) * 100))))

In [116]:
Nutshell_8

'0 CUSTOMERS saw Value Segment changed to High to Low yesterday which is 0% of the total base'

*** CUSTOMERS saw Value Segment changed to Very High to Low yesterday which is X% of the total base
*** CUSTOMERS saw Value Segment changed to Very High to Very Low yesterday which is X% of the total base

In [117]:
cust_id_very_high = value_cust_old.loc[value_cust_old['value'] == "Very High", 'cust_id'].reset_index(drop = True)

In [118]:
cust_id_very_high = cust_id_very_high.to_frame()

In [119]:
value_cust_new_changed_3 = pd.merge(value_cust_new, cust_id_very_high, on='cust_id', how='right')

In [120]:
value_changed_3 = value_cust_new_changed_3.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [121]:
value_changed_3.rename(columns={0:'counter'}, inplace=True)

In [122]:
value_changed_3

      custom_date_identifier      value  counter
0 2017-04-16 22:00:01.661522       High      166
1 2017-04-16 22:00:01.661522  Very High       68
2 2017-04-16 22:00:01.661522   Very Low       35

In [123]:
low_count_2 = value_changed_3.loc[value_changed_3['value'] == "Low", 'counter'].get_values()
very_low_count = value_changed_3.loc[value_changed_3['value'] == "Very Low", 'counter'].get_values()

In [124]:
Nutshell_9 = "{value1} CUSTOMERS saw Value Segment changed to Very High to Low yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(low_count_2) == 0 else int(low_count_2), \
            value2 = int(round((0 if len(low_count_2) == 0 else int(low_count_2) / len(old_data.query('value == "Very High"')) * 100))))

In [125]:
Nutshell_9

'0 CUSTOMERS saw Value Segment changed to Very High to Low yesterday which is 0% of the total base'

In [126]:
Nutshell_10 = "{value1} CUSTOMERS saw Value Segment changed to Very High to Very Low yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_low_count) == 0 else int(very_low_count), \
            value2 = int(round((0 if len(very_low_count) == 0 else int(very_low_count) / len(old_data.query('value == "Very High"')) * 100))))

In [127]:
Nutshell_10

'35 CUSTOMERS saw Value Segment changed to Very High to Very Low yesterday which is 13% of the total base'

*** CUSTOMERS saw Engagement Segment changed to Low to High yesterday which is X% of the total base
*** CUSTOMERS saw Engagement Segment changed to Low to Very High yesterday which is X% of the total base

In [128]:
eng_cust_old = old_data[['cust_id', 'engagement', 'custom_date_identifier']]
eng_cust_new = new_data[['cust_id', 'engagement', 'custom_date_identifier']]

In [129]:
cust_id_eng_low = eng_cust_old.loc[eng_cust_old['engagement'] == "Low", 'cust_id'].reset_index(drop = True)

In [130]:
cust_id_eng_low = cust_id_eng_low.to_frame()

In [131]:
eng_cust_new_changed = pd.merge(eng_cust_new, cust_id_eng_low, on='cust_id', how='right')

In [132]:
eng_changed = eng_cust_new_changed.groupby(['custom_date_identifier', 'engagement']).size().reset_index()

In [133]:
eng_changed

      custom_date_identifier engagement    0
0 2017-04-16 22:00:01.661522       High   55
1 2017-04-16 22:00:01.661522  Very High    9
2 2017-04-16 22:00:01.661522   Very Low  205

In [134]:
eng_changed.rename(columns={0:'counter'}, inplace=True)

In [135]:
high_count_eng = eng_changed.loc[eng_changed['engagement'] == "High", 'counter'].get_values()
very_high_count_eng = eng_changed.loc[eng_changed['engagement'] == "Very High", 'counter'].get_values()

In [136]:
Nutshell_11 = "{value1} CUSTOMERS saw Engagement Segment changed to Low to High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(high_count_eng) == 0 else int(high_count_eng), \
            value2 = int(round((0 if len(high_count_eng) == 0 else int(high_count_eng) / len(old_data.query('engagement == "Low"')) * 100))))

In [137]:
Nutshell_11

'55 CUSTOMERS saw Engagement Segment changed to Low to High yesterday which is 15% of the total base'

In [138]:
Nutshell_12 = "{value1} CUSTOMERS saw Engagement Segment changed to Low to Very High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_high_count_eng) == 0 else int(very_high_count_eng), \
            value2 = int(round((0 if len(very_high_count_eng) == 0 else int(very_high_count_eng) / len(old_data.query('engagement == "Low"')) * 100))))

In [139]:
Nutshell_12

'9 CUSTOMERS saw Engagement Segment changed to Low to Very High yesterday which is 2% of the total base'

In [140]:
cust_id_eng_very_low = eng_cust_old.loc[eng_cust_old['engagement'] == "Very Low", 'cust_id'].reset_index(drop = True)

In [141]:
cust_id_eng_very_low = cust_id_eng_very_low.to_frame()

In [142]:
eng_cust_new_changed_1 = pd.merge(eng_cust_new, cust_id_eng_very_low, on='cust_id', how='right')

In [143]:
eng_changed_1 = eng_cust_new_changed_1.groupby(['custom_date_identifier', 'engagement']).size().reset_index()

In [144]:
eng_changed_1.rename(columns={0:'counter'}, inplace=True)

In [145]:
eng_changed_1

      custom_date_identifier engagement  counter
0 2017-04-16 22:00:01.661522       High       41
1 2017-04-16 22:00:01.661522  Very High       14
2 2017-04-16 22:00:01.661522   Very Low      379

In [146]:
very_high_count_eng_1 = eng_changed_1.loc[eng_changed_1['engagement'] == "Very High", 'counter'].get_values()

In [147]:
Nutshell_13 = "{value1} CUSTOMERS saw Engagement Segment changed to Very Low to Very High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_high_count_eng_1) == 0 else int(very_high_count_eng_1), \
            value2 = int(round((0 if len(very_high_count_eng_1) == 0 else int(very_high_count_eng_1) / len(old_data.query('engagement == "Very Low"')) * 100))))

In [148]:
Nutshell_13

'14 CUSTOMERS saw Engagement Segment changed to Very Low to Very High yesterday which is 2% of the total base'

In [149]:
cust_id_eng_high = eng_cust_old.loc[eng_cust_old['engagement'] == "High", 'cust_id'].reset_index(drop = True)

In [150]:
cust_id_eng_high = cust_id_eng_high.to_frame()

In [151]:
eng_cust_new_changed_2 = pd.merge(eng_cust_new, cust_id_eng_high, on='cust_id', how='right')

In [152]:
eng_changed_2 = eng_cust_new_changed_2.groupby(['custom_date_identifier', 'engagement']).size().reset_index()

In [153]:
eng_changed_2.rename(columns={0:'counter'}, inplace=True)

In [154]:
eng_changed_2

      custom_date_identifier engagement  counter
0 2017-04-16 22:00:01.661522       High      108
1 2017-04-16 22:00:01.661522  Very High       46
2 2017-04-16 22:00:01.661522   Very Low      343

In [155]:
low_count_eng = eng_changed_2.loc[eng_changed_2['engagement'] == "Low", 'counter'].get_values()

In [156]:
Nutshell_14 = "{value1} CUSTOMERS saw Engagement Segment changed to Very Low to Very High yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(low_count_eng) == 0 else int(low_count_eng), \
            value2 = int(round((0 if len(low_count_eng) == 0 else int(low_count_eng) / len(old_data.query('engagement == "High"')) * 100))))

In [157]:
Nutshell_14

'0 CUSTOMERS saw Engagement Segment changed to Very Low to Very High yesterday which is 0% of the total base'

In [158]:
cust_id_eng_very_high = eng_cust_old.loc[eng_cust_old['engagement'] == "Very High", 'cust_id'].reset_index(drop = True)

In [159]:
cust_id_eng_very_high = cust_id_eng_very_high.to_frame()

In [160]:
eng_cust_new_changed_3 = pd.merge(eng_cust_new, cust_id_eng_very_high, on='cust_id', how='right')

In [161]:
eng_changed_3 = eng_cust_new_changed_3.groupby(['custom_date_identifier', 'engagement']).size().reset_index()

In [162]:
eng_changed_3.rename(columns={0:'counter'}, inplace=True)

In [163]:
eng_changed_3

      custom_date_identifier engagement  counter
0 2017-04-16 22:00:01.661522       High       19
1 2017-04-16 22:00:01.661522  Very High        8
2 2017-04-16 22:00:01.661522   Very Low       71

In [164]:
low_count_eng_1 = eng_changed_3.loc[eng_changed_3['engagement'] == "Low", 'counter'].get_values()
very_low_count_eng = eng_changed_3.loc[eng_changed_3['engagement'] == "Very Low", 'counter'].get_values()

In [165]:
Nutshell_15 = "{value1} CUSTOMERS saw Engagement Segment changed to Very High to Low yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(low_count_eng_1) == 0 else int(low_count_eng_1), \
            value2 = int(round((0 if len(low_count_eng_1) == 0 else int(low_count_eng_1) / len(old_data.query('engagement == "Very High"')) * 100))))

In [166]:
Nutshell_15

'0 CUSTOMERS saw Engagement Segment changed to Very High to Low yesterday which is 0% of the total base'

In [167]:
Nutshell_16 = "{value1} CUSTOMERS saw Engagement Segment changed to Very High to Very Low yesterday which is {value2}% of the total base"\
    .format(value1 = 0 if len(very_low_count_eng) == 0 else int(very_low_count_eng), \
            value2 = int(round((0 if len(very_low_count_eng) == 0 else int(very_low_count_eng) / len(old_data.query('engagement == "Very High"')) * 100))))

In [168]:
Nutshell_16

'71 CUSTOMERS saw Engagement Segment changed to Very High to Very Low yesterday which is 59% of the total base'

In [169]:
Nutshell_17 = "Currently {value1} Customers have Very Low Value but Very High Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Very Low" and engagement == "Very High"')),\
            value2 = int(round((len(new_data.query('value == "Very Low" and engagement == "Very High"')) / len(new_data)) * 100)))

In [170]:
Nutshell_17

'Currently 156 Customers have Very Low Value but Very High Engagement which is 2% of total base'

In [171]:
Nutshell_18 = "Currently {value1} Customers have Very Low Value but High Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Very Low" and engagement == "High"')),\
            value2 = int(round((len(new_data.query('value == "Very Low" and engagement == "High"')) / len(new_data)) * 100)))

In [172]:
Nutshell_18

'Currently 668 Customers have Very Low Value but High Engagement which is 9% of total base'

In [173]:
Nutshell_19 = "Currently {value1} Customers have Very High Value but Low Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Very High" and engagement == "Low"')),\
            value2 = int(round((len(new_data.query('value == "Very High" and engagement == "Low"')) / len(new_data)) * 100)))

In [174]:
Nutshell_19

'Currently 0 Customers have Very High Value but Low Engagement which is 0% of total base'

In [175]:
Nutshell_20 = "Currently {value1} Customers have Very High Value but Very Low Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Very High" and engagement == "Very Low"')),\
            value2 = int(round((len(new_data.query('value == "Very High" and engagement == "Very Low"')) / len(new_data)) * 100)))

In [176]:
Nutshell_20

'Currently 129 Customers have Very High Value but Very Low Engagement which is 2% of total base'

In [177]:
Nutshell_21 = "Currently {value1} Customers have High Value but Low Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "High" and engagement == "Low"')),\
            value2 = int(round((len(new_data.query('value == "High" and engagement == "Low"')) / len(new_data)) * 100)))

In [178]:
Nutshell_21

'Currently 0 Customers have High Value but Low Engagement which is 0% of total base'

In [179]:
Nutshell_22 = "Currently {value1} Customers have High Value but Very Low Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "High" and engagement == "Very Low"')),\
            value2 = int(round((len(new_data.query('value == "High" and engagement == "Very Low"')) / len(new_data)) * 100)))

In [180]:
Nutshell_22

'Currently 345 Customers have High Value but Very Low Engagement which is 5% of total base'

In [181]:
Nutshell_23 = "Currently {value1} Customers have Low Value but Very High Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Low" and engagement == "Very High"')),\
            value2 = int(round((len(new_data.query('value == "Low" and engagement == "Very High"')) / len(new_data)) * 100)))

In [182]:
Nutshell_23

'Currently 0 Customers have Low Value but Very High Engagement which is 0% of total base'

In [183]:
Nutshell_24 = "Currently {value1} Customers have Low Value but High Engagement which is {value2}% of total base"\
    .format(value1 = len(new_data.query('value == "Low" and engagement == "High"')),\
            value2 = int(round((len(new_data.query('value == "Low" and engagement == "High"')) / len(new_data)) * 100)))

In [184]:
Nutshell_24

'Currently 0 Customers have Low Value but High Engagement which is 0% of total base'

In [185]:
nutshell_dict = {'command':['Nutshell_1','Nutshell_2','Nutshell_3','Nutshell_4','Nutshell_5',
                            'Nutshell_6','Nutshell_7','Nutshell_8','Nutshell_9','Nutshell_10',
                            'Nutshell_11','Nutshell_12','Nutshell_13','Nutshell_14','Nutshell_15',
                            'Nutshell_16','Nutshell_17','Nutshell_18','Nutshell_19','Nutshell_20',
                            'Nutshell_21','Nutshell_22','Nutshell_23','Nutshell_24'],
                 'description':[Nutshell_1,Nutshell_2,Nutshell_3,Nutshell_4,Nutshell_5,
                                Nutshell_6,Nutshell_7,Nutshell_8,Nutshell_9,Nutshell_10,
                                Nutshell_11,Nutshell_12,Nutshell_13,Nutshell_14,Nutshell_15,
                                Nutshell_16,Nutshell_17,Nutshell_18,Nutshell_19,Nutshell_20,
                                Nutshell_21,Nutshell_22,Nutshell_23,Nutshell_24]}

In [186]:
nutshell_df = pd.DataFrame(nutshell_dict)

In [187]:
nutshell_df.head()

      command                                        description
0  Nutshell_1  Average CLTV for yesterday was 2$ and decrease...
1  Nutshell_2  4018 CUSTOMERS saw CLTV DECREASED yesterday wh...
2  Nutshell_3  780 CUSTOMERS saw CLTV INCREASED yesterday whi...
3  Nutshell_4  1065 CUSTOMERS CHURNED yesterday which is 26% ...
4  Nutshell_5  0 CUSTOMERS saw Value Segment changed to Low t...

In [188]:
nutshell_df.tail()

        command                                        description
19  Nutshell_20  Currently 129 Customers have Very High Value b...
20  Nutshell_21  Currently 0 Customers have High Value but Low ...
21  Nutshell_22  Currently 345 Customers have High Value but Ve...
22  Nutshell_23  Currently 0 Customers have Low Value but Very ...
23  Nutshell_24  Currently 0 Customers have Low Value but High ...

In [189]:
nutshell_df['cltv'] = ""

In [190]:
nutshell_df['churn'] = ""

In [191]:
nutshell_df['value'] = ""

In [192]:
nutshell_df['engagement'] = ""

In [193]:
nutshell_df.head()

,command,description,cltv,churn,value,engagement
0,Nutshell_1,Average CLTV for yesterday was 2$ and decrease...,,,,
1,Nutshell_2,4018 CUSTOMERS saw CLTV DECREASED yesterday wh...,,,,
2,Nutshell_3,780 CUSTOMERS saw CLTV INCREASED yesterday whi...,,,,
3,Nutshell_4,1065 CUSTOMERS CHURNED yesterday which is 26% ...,,,,
4,Nutshell_5,0 CUSTOMERS saw Value Segment changed to Low t...,,,,

In [194]:
for x in range(0, len(nutshell_df)):
    if 'CLTV' in nutshell_df.description[x]:
        nutshell_df.cltv[x] = 1
    else:
        nutshell_df.cltv[x] = 0
    if 'CHURNED' in nutshell_df.description[x]:
        nutshell_df.churn[x] = 1
    else:
        nutshell_df.churn[x] = 0
    if 'Value' in nutshell_df.description[x]:
        nutshell_df.value[x] = 1
    else:
        nutshell_df.value[x] = 0
    if 'Engagement' in nutshell_df.description[x]:
        nutshell_df.engagement[x] = 1
    else:
        nutshell_df.engagement[x] = 0

In [195]:
nutshell_df

,command,description,cltv,churn,value,engagement
0,Nutshell_1,Average CLTV for yesterday was 2$ and decrease...,1,0,0,0
1,Nutshell_2,4018 CUSTOMERS saw CLTV DECREASED yesterday wh...,1,0,0,0
2,Nutshell_3,780 CUSTOMERS saw CLTV INCREASED yesterday whi...,1,0,0,0
3,Nutshell_4,1065 CUSTOMERS CHURNED yesterday which is 26% ...,0,1,0,0
4,Nutshell_5,0 CUSTOMERS saw Value Segment changed to Low t...,0,0,1,0
5,Nutshell_6,0 CUSTOMERS saw Value Segment changed to Low t...,0,0,1,0
6,Nutshell_7,43 CUSTOMERS saw Value Segment changed to Very...,0,0,1,0
7,Nutshell_8,0 CUSTOMERS saw Value Segment changed to High ...,0,0,1,0
8,Nutshell_9,0 CUSTOMERS saw Value Segment changed to Very ...,0,0,1,0
9,Nutshell_10,35 CUSTOMERS saw Value Segment changed to Very...,0,0,1,0
10,Nutshell_11,55 CUSTOMERS saw Engagement Segment changed to...,0,0,0,1
11,Nutshell_12,9 CUSTOMERS saw Engagement Segment changed to ...,0,0,0,1
12,Nutshell_13,14 CUSTOMERS saw Engagement Segment changed to...,0,0,0,1
13,Nutshell_14,0 CUSTOMERS saw Engagement Segment changed to ...,0,0,0,1
14,Nutshell_15,0 CUSTOMERS saw Engagement Segment changed to ...,0,0,0,1
15,Nutshell_16,71 CUSTOMERS saw Engagement Segment changed to...,0,0,0,1
16,Nutshell_17,Currently 156 Customers have Very Low Value bu...,0,0,1,1
17,Nutshell_18,Currently 668 Customers have Very Low Value bu...,0,0,1,1
18,Nutshell_19,Currently 0 Customers have Very High Value but...,0,0,1,1
19,Nutshell_20,Currently 129 Customers have Very High Value b...,0,0,1,1
20,Nutshell_21,Currently 0 Customers have High Value but Low ...,0,0,1,1
21,Nutshell_22,Currently 345 Customers have High Value but Ve...,0,0,1,1
22,Nutshell_23,Currently 0 Customers have Low Value but Very ...,0,0,1,1
23,Nutshell_24,Currently 0 Customers have Low Value but High ...,0,0,1,1

In [196]:
#from sqlalchemy import create_engine 
#engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')
#nutshell_df.to_sql('nutshell', engine, if_exists='replace', index=False)