In [1]:
from DemoServerDB import ConnectDatabase

In [2]:
temp = ConnectDatabase()

In [3]:
temp.conn

In [4]:
query = 'SELECT * from temp_master_table_history'

In [5]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import timedelta

In [6]:
temp.cur.execute(query)

In [7]:
col_names = [desc[0] for desc in temp.cur.description]

In [8]:
col_names

['id',
 'cust_id',
 'churn',
 'engagement',
 'percent_churn',
 'cltv',
 'value',
 'percent_cltv',
 'high_convertor',
 'bio',
 'lifestage',
 'custom_date_identifier']

In [9]:
master_table_his = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [10]:
master_table_his.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2694.0,2942914,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
1,787.0,3053432,0,Very High,0.999351911860013,31.329512977429,Medium,74.7569669475049,None,None,None,2017-03-27 07:53:06.971854
2,285.0,3129800,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
3,1980.0,3289765,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
4,1992.0,3325662,0,High,0.751458198314971,31.5437490360638,Very High,82.7284510693454,None,None,None,2017-03-27 07:53:06.971854

In [11]:
master_table_his.tail()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
11683,2997.0,6290486,0,High,0.814322747893714,31.5437490360638,Very High,82.7284510693454,None,None,None,2017-03-30 06:21:45.296452
11684,2996.0,6294852,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11685,2998.0,6362274,0,Medium,0.465975372650681,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11686,2999.0,6187373,0,Very Low,0,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11687,3000.0,6275564,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452

In [12]:
list_of_indexes_new = [np.argmax(g['custom_date_identifier']) for l, g in master_table_his.groupby(['cust_id'])]

In [13]:
new_data = master_table_his.ix[list_of_indexes_new]

In [14]:
new_data.reset_index(drop=True, inplace=True)

In [15]:
new_data.shape

(3087, 12)

In [16]:
new_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2694.0,2942914,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
1,787.0,3053432,0,Very High,0.999351911860013,31.329512977429,Medium,74.7569669475049,None,None,None,2017-03-30 06:21:45.296452
2,285.0,3129800,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-30 06:21:45.296452
3,1980.0,3289765,0,Low,0.13447828904731,0,Medium,0,None,None,None,2017-03-30 06:21:45.296452
4,1992.0,3325662,0,High,0.751458198314971,31.5437490360638,Medium,82.7284510693454,None,None,None,2017-03-30 06:21:45.296452

In [17]:
xyz = master_table_his.groupby(['cust_id', 'custom_date_identifier']).size().reset_index()

In [18]:
xyz.head(10)

   cust_id     custom_date_identifier  0
0  2942914 2017-03-27 07:53:06.971854  1
1  2942914 2017-03-28 06:19:28.643532  1
2  2942914 2017-03-29 06:15:03.382109  1
3  2942914 2017-03-30 06:21:45.296452  1
4  3053432 2017-03-27 07:53:06.971854  1
5  3053432 2017-03-28 06:19:28.643532  1
6  3053432 2017-03-29 06:15:03.382109  1
7  3053432 2017-03-30 06:21:45.296452  1
8  3129800 2017-03-27 07:53:06.971854  1
9  3129800 2017-03-28 06:19:28.643532  1

In [19]:
del xyz[0]

In [20]:
xyz.head()

   cust_id     custom_date_identifier
0  2942914 2017-03-27 07:53:06.971854
1  2942914 2017-03-28 06:19:28.643532
2  2942914 2017-03-29 06:15:03.382109
3  2942914 2017-03-30 06:21:45.296452
4  3053432 2017-03-27 07:53:06.971854

In [21]:
def x(frame):
    if len(frame.custom_date_identifier) > 1:
        frame['time'] = frame.custom_date_identifier.iloc[-2]
    else:
        frame['time'] = frame.custom_date_identifier.iloc[-1]
    return frame

In [22]:
dates = xyz.groupby('cust_id').apply(x)

In [23]:
dates.head()

   cust_id     custom_date_identifier                       time
0  2942914 2017-03-27 07:53:06.971854 2017-03-29 06:15:03.382109
1  2942914 2017-03-28 06:19:28.643532 2017-03-29 06:15:03.382109
2  2942914 2017-03-29 06:15:03.382109 2017-03-29 06:15:03.382109
3  2942914 2017-03-30 06:21:45.296452 2017-03-29 06:15:03.382109
4  3053432 2017-03-27 07:53:06.971854 2017-03-29 06:15:03.382109

In [24]:
del dates['custom_date_identifier']

In [25]:
dates = dates.drop_duplicates('cust_id')

In [26]:
dates.rename(columns={'time':'custom_date_identifier'}, inplace=True)

In [27]:
dates.head()

    cust_id     custom_date_identifier
0   2942914 2017-03-29 06:15:03.382109
4   3053432 2017-03-29 06:15:03.382109
8   3129800 2017-03-28 06:19:28.643532
11  3289765 2017-03-29 06:15:03.382109
15  3325662 2017-03-29 06:15:03.382109

In [28]:
old_data = pd.merge(master_table_his, dates, on=['cust_id', 'custom_date_identifier'], how='right')

In [29]:
old_data.reset_index(drop=True, inplace=True)

In [30]:
old_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,1.0,6258623,0,Low,0.13447828904731,30,Very Low,0,None,None,New,2017-03-28 06:19:28.643532
1,2.0,6339666,0,Medium,0.465975372650681,30,Very Low,0,None,None,New,2017-03-28 06:19:28.643532
2,3.0,6255528,0,Low,0.13447828904731,30,Very Low,0,None,None,New,2017-03-28 06:19:28.643532
3,4.0,6347053,0,Medium,0.465975372650681,30,Very Low,0,None,None,New,2017-03-28 06:19:28.643532
4,5.0,6220733,0,Low,0.13447828904731,30,Very Low,0,None,None,New,2017-03-28 06:19:28.643532

In [31]:
old_data.tail()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
3082,2997.0,6290486,0,High,0.814322747893714,61.5437490360638,Very High,82.7284510693454,None,None,None,2017-03-29 06:15:03.382109
3083,2996.0,6294852,0,Low,0.13447828904731,30,Very Low,0,None,None,None,2017-03-29 06:15:03.382109
3084,2998.0,6362274,0,Medium,0.465975372650681,30,Very Low,0,None,None,None,2017-03-29 06:15:03.382109
3085,2999.0,6187373,0,Very Low,0,30,Very Low,0,None,None,None,2017-03-29 06:15:03.382109
3086,3000.0,6275564,0,Low,0.13447828904731,30,Very Low,0,None,None,None,2017-03-29 06:15:03.382109

In [32]:
old_data.shape

(3087, 12)

In [33]:
new_data.shape

(3087, 12)

In [34]:
new_data.custom_date_identifier.max()

Timestamp('2017-03-30 06:21:45.296452')

In [35]:
new_data['custom_date_identifier'] = new_data.custom_date_identifier.max()

In [36]:
new_data.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2694.0,2942914,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
1,787.0,3053432,0,Very High,0.999351911860013,31.329512977429,Medium,74.7569669475049,None,None,None,2017-03-30 06:21:45.296452
2,285.0,3129800,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-30 06:21:45.296452
3,1980.0,3289765,0,Low,0.13447828904731,0,Medium,0,None,None,None,2017-03-30 06:21:45.296452
4,1992.0,3325662,0,High,0.751458198314971,31.5437490360638,Medium,82.7284510693454,None,None,None,2017-03-30 06:21:45.296452

In [37]:
cltv_value_old = old_data.groupby(['custom_date_identifier'])['cltv'].sum().reset_index()

In [38]:
cltv_value_old

      custom_date_identifier                 cltv
0 2017-03-28 06:19:28.643532  25591.2459249359678
1 2017-03-29 06:15:03.382109  47570.6963490512465

In [39]:
cltv_value_old.rename(columns={'custom_date_identifier':'dates'}, inplace=True)

In [40]:
cltv_value_new = new_data.groupby(['custom_date_identifier'])['cltv'].sum().reset_index()

In [41]:
cltv_value_new

      custom_date_identifier                 cltv
0 2017-03-30 06:21:45.296452  26816.3279244758916

In [42]:
cltv_value_new.rename(columns={'custom_date_identifier':'dates'}, inplace=True)

In [43]:
Nutshell_1 = "{value1} $ of amount is {value3} in cltv when compared to yesterday which is {value2} $ ".format(value1 = int(round(cltv_value_new.cltv.iloc[-1] - cltv_value_old.cltv.iloc[-1])),value2 = int(round(cltv_value_old.cltv.iloc[-1])), value3 = "raised" if int(round(cltv_value_new.cltv.iloc[-1] - cltv_value_old.cltv.iloc[-1])) > 1 else "declined")

In [44]:
Nutshell_1

'-20754 $ of amount is declined in cltv when compared to yesterday which is 47571 $ '

In [45]:
churned_old = old_data.groupby(['custom_date_identifier','churn',]).size().reset_index()

In [46]:
churned_old

      custom_date_identifier churn     0
0 2017-03-28 06:19:28.643532     0   573
1 2017-03-28 06:19:28.643532     1    87
2 2017-03-29 06:15:03.382109     0  1227
3 2017-03-29 06:15:03.382109     1  1200

In [47]:
churned_old.rename(columns={0:'counter'}, inplace=True)

In [48]:
churned_old

      custom_date_identifier churn  counter
0 2017-03-28 06:19:28.643532     0      573
1 2017-03-28 06:19:28.643532     1       87
2 2017-03-29 06:15:03.382109     0     1227
3 2017-03-29 06:15:03.382109     1     1200

In [49]:
churned_new = new_data.groupby(['custom_date_identifier','churn',]).size().reset_index()

In [50]:
churned_new

      custom_date_identifier churn     0
0 2017-03-30 06:21:45.296452     0  3087

In [51]:
churned_new.rename(columns={0:'counter'}, inplace=True)

In [52]:
churned_new

      custom_date_identifier churn  counter
0 2017-03-30 06:21:45.296452     0     3087

In [53]:
Nutshell_2 = "{value1} CUSTOMERS has churn when compared to the previous day".format(value1 = churned_new.counter.iloc[-1] if churned_new.churn.all() == 1 else 0)

In [54]:
Nutshell_2

'0 CUSTOMERS has churn when compared to the previous day'

In [55]:
churn_cltv = new_data[['cltv', 'churn', 'custom_date_identifier']]

In [56]:
churn_cltv.head()

               cltv churn     custom_date_identifier
0                 0     0 2017-03-30 06:21:45.296452
1   31.329512977429     0 2017-03-30 06:21:45.296452
2                 0     0 2017-03-30 06:21:45.296452
3                 0     0 2017-03-30 06:21:45.296452
4  31.5437490360638     0 2017-03-30 06:21:45.296452

In [57]:
cltv_loss = churn_cltv.groupby(['custom_date_identifier', 'churn'])['cltv'].sum().reset_index()

In [58]:
cltv_loss

      custom_date_identifier churn                 cltv
0 2017-03-30 06:21:45.296452     0  26816.3279244758916

In [59]:
Nutshell_3 = "{value1} $ of cltv is declined because of the churn customers".format(value1 = int(round(cltv_loss.cltv.iloc[-1])) if cltv_loss.churn.any() == 1 else 0)

In [60]:
Nutshell_3

'0 $ of cltv is declined because of the churn customers'

In [61]:
lifestage_dates_old = old_data[['custom_date_identifier', 'lifestage']]

In [62]:
lifestage_dates_old.head()

      custom_date_identifier lifestage
0 2017-03-28 06:19:28.643532       New
1 2017-03-28 06:19:28.643532       New
2 2017-03-28 06:19:28.643532       New
3 2017-03-28 06:19:28.643532       New
4 2017-03-28 06:19:28.643532       New

In [63]:
lifestage_customers_old = lifestage_dates_old.groupby(['custom_date_identifier', 'lifestage']).size().reset_index()

In [64]:
lifestage_customers_old

      custom_date_identifier    lifestage    0
0 2017-03-28 06:19:28.643532          New  573
1 2017-03-29 06:15:03.382109       Lapsed  600
2 2017-03-29 06:15:03.382109          New   27
3 2017-03-29 06:15:03.382109  Reactivated  600
4 2017-03-29 06:15:03.382109     Retained  600

In [65]:
lifestage_dates_new = new_data[['custom_date_identifier', 'lifestage']]

In [66]:
lifestage_dates_new.head()

      custom_date_identifier lifestage
0 2017-03-30 06:21:45.296452      None
1 2017-03-30 06:21:45.296452      None
2 2017-03-30 06:21:45.296452      None
3 2017-03-30 06:21:45.296452      None
4 2017-03-30 06:21:45.296452      None

In [67]:
lifestage_customers_new = lifestage_dates_old.groupby(['custom_date_identifier', 'lifestage']).size().reset_index()

In [68]:
lifestage_customers_new

      custom_date_identifier    lifestage    0
0 2017-03-28 06:19:28.643532          New  573
1 2017-03-29 06:15:03.382109       Lapsed  600
2 2017-03-29 06:15:03.382109          New   27
3 2017-03-29 06:15:03.382109  Reactivated  600
4 2017-03-29 06:15:03.382109     Retained  600

In [69]:
old_customers = lifestage_customers_old.query('lifestage == "New"').reset_index(drop = True)

In [70]:
old_customers

      custom_date_identifier lifestage    0
0 2017-03-28 06:19:28.643532       New  573
1 2017-03-29 06:15:03.382109       New   27

In [71]:
old_customers.rename(columns={0:'counter'}, inplace=True)

In [72]:
old_customers

      custom_date_identifier lifestage  counter
0 2017-03-28 06:19:28.643532       New      573
1 2017-03-29 06:15:03.382109       New       27

In [73]:
new_customers = lifestage_customers_new.query('lifestage == "New"').reset_index(drop = True)

In [74]:
new_customers.rename(columns={0:'counter'}, inplace=True)

In [75]:
new_customers

      custom_date_identifier lifestage  counter
0 2017-03-28 06:19:28.643532       New      573
1 2017-03-29 06:15:03.382109       New       27

In [76]:
Nutshell_4 = "{value} New(lifestage) customers has registered".format(value = new_customers.counter.iloc[-1])

In [77]:
Nutshell_4

'27 New(lifestage) customers has registered'

In [78]:
retained_customers_old = lifestage_customers_old.query('lifestage == "Retained"').reset_index(drop=True)

In [79]:
retained_customers_old

      custom_date_identifier lifestage    0
0 2017-03-29 06:15:03.382109  Retained  600

In [80]:
retained_customers_old.rename(columns={0:'counter'}, inplace=True)

In [81]:
retained_customers_old

      custom_date_identifier lifestage  counter
0 2017-03-29 06:15:03.382109  Retained      600

In [82]:
retained_customers_new = lifestage_customers_new.query('lifestage == "Retained"').reset_index(drop=True)

In [83]:
retained_customers_new.rename(columns={0:'counter'}, inplace=True)

In [84]:
retained_customers_new

      custom_date_identifier lifestage  counter
0 2017-03-29 06:15:03.382109  Retained      600

In [85]:
Nutshell_5 = "{value} customers has Retained(lifestage)".format(value = retained_customers_new.counter.iloc[-1])

In [86]:
Nutshell_5

'600 customers has Retained(lifestage)'

In [87]:
lapsed_customers_old = lifestage_customers_old.query('lifestage == "Lapsed"').reset_index(drop = True)

In [88]:
lapsed_customers_old

      custom_date_identifier lifestage    0
0 2017-03-29 06:15:03.382109    Lapsed  600

In [89]:
lapsed_customers_old.rename(columns={0:'counter'}, inplace=True)

In [90]:
lapsed_customers_old

      custom_date_identifier lifestage  counter
0 2017-03-29 06:15:03.382109    Lapsed      600

In [91]:
lapsed_customers_new = lifestage_customers_new.query('lifestage == "Lapsed"').reset_index(drop = True)

In [92]:
lapsed_customers_new.rename(columns={0:'counter'}, inplace=True)

In [93]:
lapsed_customers_new

      custom_date_identifier lifestage  counter
0 2017-03-29 06:15:03.382109    Lapsed      600

In [94]:
Nutshell_6 = "{value} customers has Lapsed(lifestage)".format(value = lapsed_customers_new.counter.iloc[-1])

In [95]:
Nutshell_6

'600 customers has Lapsed(lifestage)'

In [96]:
reactivated_customers_old = lifestage_customers_old.query('lifestage == "Reactivated"').reset_index(drop = True)

In [97]:
reactivated_customers_old.rename(columns={0:'counter'}, inplace=True)

In [98]:
reactivated_customers_old

      custom_date_identifier    lifestage  counter
0 2017-03-29 06:15:03.382109  Reactivated      600

In [99]:
reactivated_customers_new = lifestage_customers_new.query('lifestage == "Reactivated"').reset_index(drop = True)

In [100]:
reactivated_customers_new.rename(columns={0:'counter'}, inplace=True)

In [101]:
reactivated_customers_new

      custom_date_identifier    lifestage  counter
0 2017-03-29 06:15:03.382109  Reactivated      600

In [102]:
Nutshell_7 = "{value} customers has Reactivated(lifestage)".format(value = reactivated_customers_new.counter.iloc[-1])

In [103]:
Nutshell_7

'600 customers has Reactivated(lifestage)'

In [104]:
value_old = old_data[['custom_date_identifier','value']]

In [105]:
value_old.head()

      custom_date_identifier     value
0 2017-03-28 06:19:28.643532  Very Low
1 2017-03-28 06:19:28.643532  Very Low
2 2017-03-28 06:19:28.643532  Very Low
3 2017-03-28 06:19:28.643532  Very Low
4 2017-03-28 06:19:28.643532  Very Low

In [106]:
value_customers_old = value_old.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [107]:
value_customers_old

      custom_date_identifier      value     0
0 2017-03-28 06:19:28.643532       High    35
1 2017-03-28 06:19:28.643532     Medium    16
2 2017-03-28 06:19:28.643532  Very High   126
3 2017-03-28 06:19:28.643532   Very Low   483
4 2017-03-29 06:15:03.382109       High   203
5 2017-03-29 06:15:03.382109     Medium    49
6 2017-03-29 06:15:03.382109  Very High   408
7 2017-03-29 06:15:03.382109   Very Low  1767

In [108]:
value_new = new_data[['custom_date_identifier', 'value']]

In [109]:
value_new.head()

      custom_date_identifier      value
0 2017-03-30 06:21:45.296452  Very High
1 2017-03-30 06:21:45.296452     Medium
2 2017-03-30 06:21:45.296452   Very Low
3 2017-03-30 06:21:45.296452     Medium
4 2017-03-30 06:21:45.296452     Medium

In [110]:
value_customers_new = value_new.groupby(['custom_date_identifier', 'value']).size().reset_index()

In [111]:
value_customers_new

      custom_date_identifier      value     0
0 2017-03-30 06:21:45.296452       High   660
1 2017-03-30 06:21:45.296452     Medium   215
2 2017-03-30 06:21:45.296452  Very High  1112
3 2017-03-30 06:21:45.296452   Very Low  1100

In [112]:
high_value_old = value_customers_old.query('value == "High"')

In [113]:
high_value_old

      custom_date_identifier value    0
0 2017-03-28 06:19:28.643532  High   35
4 2017-03-29 06:15:03.382109  High  203

In [114]:
high_value_old.rename(columns={0:'counter'}, inplace=True)

/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [115]:
high_value_old

      custom_date_identifier value  counter
0 2017-03-28 06:19:28.643532  High       35
4 2017-03-29 06:15:03.382109  High      203

In [116]:
high_value_new = value_customers_new.query('value == "High"')

In [117]:
high_value_new.rename(columns={0:'counter'}, inplace=True)

In [118]:
high_value_new

      custom_date_identifier value  counter
0 2017-03-30 06:21:45.296452  High      660

In [119]:
Nutshell_8 = "{value1} customers has changed value to High when compared to previous day which is {value2}".format(value1  = high_value_new.counter.iloc[-1], value2 = high_value_old.counter.iloc[-1])

In [120]:
Nutshell_8

'660 customers has changed value to High when compared to previous day which is 203'

In [121]:
very_high_value_old = value_customers_old.query('value == "Very High"')

In [122]:
very_high_value_old.rename(columns={0:'counter'}, inplace=True)

In [123]:
very_high_value_old

      custom_date_identifier      value  counter
2 2017-03-28 06:19:28.643532  Very High      126
6 2017-03-29 06:15:03.382109  Very High      408

In [124]:
very_high_value_new = value_customers_new.query('value == "Very High"')

In [125]:
very_high_value_new.rename(columns={0:'counter'}, inplace=True)

In [126]:
very_high_value_new

      custom_date_identifier      value  counter
2 2017-03-30 06:21:45.296452  Very High     1112

In [127]:
Nutshell_9 = "{value1} customers has changed value to Very High when compared to previous day which is {value2}".format(value1  = very_high_value_new.counter.iloc[-1], value2 = very_high_value_old.counter.iloc[-1])

In [128]:
Nutshell_9

'1112 customers has changed value to Very High when compared to previous day which is 408'

In [129]:
medium_value_old = value_customers_old.query('value == "Medium"')

In [130]:
medium_value_old.rename(columns={0:'counter'}, inplace=True)

In [131]:
medium_value_old

      custom_date_identifier   value  counter
1 2017-03-28 06:19:28.643532  Medium       16
5 2017-03-29 06:15:03.382109  Medium       49

In [132]:
medium_value_new = value_customers_new.query('value == "Medium"')

In [133]:
medium_value_new.rename(columns={0:'counter'},inplace=True)

In [134]:
medium_value_new

      custom_date_identifier   value  counter
1 2017-03-30 06:21:45.296452  Medium      215

In [135]:
Nutshell_10 = "{value1} customers has changed value to Medium when compared to previous day which is {value2}".format(value1  = medium_value_new.counter.iloc[-1], value2 = medium_value_old.counter.iloc[-1])

In [136]:
Nutshell_10

'215 customers has changed value to Medium when compared to previous day which is 49'

In [137]:
very_low_value_old = value_customers_old.query('value == "Very Low"')

In [138]:
very_low_value_old.rename(columns={0:'counter'}, inplace=True)

In [139]:
very_low_value_old

      custom_date_identifier     value  counter
3 2017-03-28 06:19:28.643532  Very Low      483
7 2017-03-29 06:15:03.382109  Very Low     1767

In [140]:
very_low_value_new = value_customers_new.query('value == "Very Low"')

In [141]:
very_low_value_new.rename(columns={0:'counter'}, inplace=True)

In [142]:
very_low_value_new

      custom_date_identifier     value  counter
3 2017-03-30 06:21:45.296452  Very Low     1100

In [143]:
Nutshell_11 = "{value1} customers has changed value to Very Low when compared to previous day which is {value2}".format(value1  = very_low_value_new.counter.iloc[-1], value2 = very_low_value_old.counter.iloc[-1])

In [144]:
Nutshell_11

'1100 customers has changed value to Very Low when compared to previous day which is 1767'

In [145]:
nutshell_dict = {'command':['Nutshell_1','Nutshell_2','Nutshell_3','Nutshell_4','Nutshell_5','Nutshell_6','Nutshell_7','Nutshell_8','Nutshell_9','Nutshell_10','Nutshell_11'],
                 'description':[Nutshell_1,Nutshell_2,Nutshell_3,Nutshell_4,Nutshell_5,Nutshell_6,Nutshell_7,Nutshell_8,Nutshell_9,Nutshell_10,Nutshell_11]}

In [146]:
nutshell_df = pd.DataFrame(nutshell_dict)

In [147]:
nutshell_df

        command                                        description
0    Nutshell_1  -20754 $ of amount is declined in cltv when co...
1    Nutshell_2  0 CUSTOMERS has churn when compared to the pre...
2    Nutshell_3  0 $ of cltv is declined because of the churn c...
3    Nutshell_4         27 New(lifestage) customers has registered
4    Nutshell_5              600 customers has Retained(lifestage)
5    Nutshell_6                600 customers has Lapsed(lifestage)
6    Nutshell_7           600 customers has Reactivated(lifestage)
7    Nutshell_8  660 customers has changed value to High when c...
8    Nutshell_9  1112 customers has changed value to Very High ...
9   Nutshell_10  215 customers has changed value to Medium when...
10  Nutshell_11  1100 customers has changed value to Very Low w...

In [148]:
nutshell_df['cltv'] = ""

In [149]:
nutshell_df['churn'] = ""

In [150]:
nutshell_df['lifestage'] = ""

In [151]:
nutshell_df['value'] = ""

In [152]:
nutshell_df

,command,description,cltv,churn,lifestage,value
0,Nutshell_1,-20754 $ of amount is declined in cltv when co...,,,,
1,Nutshell_2,0 CUSTOMERS has churn when compared to the pre...,,,,
2,Nutshell_3,0 $ of cltv is declined because of the churn c...,,,,
3,Nutshell_4,27 New(lifestage) customers has registered,,,,
4,Nutshell_5,600 customers has Retained(lifestage),,,,
5,Nutshell_6,600 customers has Lapsed(lifestage),,,,
6,Nutshell_7,600 customers has Reactivated(lifestage),,,,
7,Nutshell_8,660 customers has changed value to High when c...,,,,
8,Nutshell_9,1112 customers has changed value to Very High ...,,,,
9,Nutshell_10,215 customers has changed value to Medium when...,,,,
10,Nutshell_11,1100 customers has changed value to Very Low w...,,,,

In [153]:
for x in range(0, len(nutshell_df)):
    if 'cltv' in nutshell_df.description[x]:
        nutshell_df.cltv[x] = 1
    else:
        nutshell_df.cltv[x] = 0
    if 'churn' in nutshell_df.description[x]:
        nutshell_df.churn[x] = 1
    else:
        nutshell_df.churn[x] = 0
    if 'lifestage' in nutshell_df.description[x]:
        nutshell_df.lifestage[x] = 1
    else:
        nutshell_df.lifestage[x] = 0
    if 'value' in nutshell_df.description[x]:
        nutshell_df.value[x] = 1
    else:
        nutshell_df.value[x] = 0

In [154]:
nutshell_df

,command,description,cltv,churn,lifestage,value
0,Nutshell_1,-20754 $ of amount is declined in cltv when co...,1,0,0,0
1,Nutshell_2,0 CUSTOMERS has churn when compared to the pre...,0,1,0,0
2,Nutshell_3,0 $ of cltv is declined because of the churn c...,1,1,0,0
3,Nutshell_4,27 New(lifestage) customers has registered,0,0,1,0
4,Nutshell_5,600 customers has Retained(lifestage),0,0,1,0
5,Nutshell_6,600 customers has Lapsed(lifestage),0,0,1,0
6,Nutshell_7,600 customers has Reactivated(lifestage),0,0,1,0
7,Nutshell_8,660 customers has changed value to High when c...,0,0,0,1
8,Nutshell_9,1112 customers has changed value to Very High ...,0,0,0,1
9,Nutshell_10,215 customers has changed value to Medium when...,0,0,0,1
10,Nutshell_11,1100 customers has changed value to Very Low w...,0,0,0,1

from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres_user:admin@developer.tuple-mia.com:5432/postgres_db')

nutshell_df.to_sql('nutshell', engine)