In [1]:
from DemoServerDB import ConnectDatabase

In [2]:
temp = ConnectDatabase()

In [3]:
query = 'SELECT * from master_table_history'

In [4]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import timedelta

In [5]:
temp.cur.execute(query)

In [6]:
col_names = [desc[0] for desc in temp.cur.description]

In [7]:
master_table_his = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [8]:
master_table_his.head()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
0,2694.0,2942914,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
1,787.0,3053432,0,Very High,0.999351911860013,31.329512977429,Medium,74.7569669475049,None,None,None,2017-03-27 07:53:06.971854
2,285.0,3129800,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
3,1980.0,3289765,0,Low,0.13447828904731,0,Very Low,0,None,None,None,2017-03-27 07:53:06.971854
4,1992.0,3325662,0,High,0.751458198314971,31.5437490360638,Very High,82.7284510693454,None,None,None,2017-03-27 07:53:06.971854

In [9]:
master_table_his.tail()

,id,cust_id,churn,engagement,percent_churn,cltv,value,percent_cltv,high_convertor,bio,lifestage,custom_date_identifier
11683,2997.0,6290486,0,High,0.814322747893714,31.5437490360638,Very High,82.7284510693454,None,None,None,2017-03-30 06:21:45.296452
11684,2996.0,6294852,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11685,2998.0,6362274,0,Medium,0.465975372650681,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11686,2999.0,6187373,0,Very Low,0,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452
11687,3000.0,6275564,0,Low,0.13447828904731,0,Very High,0,None,None,None,2017-03-30 06:21:45.296452

In [10]:
master_table_his.shape

(11688, 12)

In [ ]:
xyz = master_table_his.groupby(['cust_id', ''])